.mission__ourCharitiesBox {
width:85vw;
height:1749px;
margin-top:60px;
border-radius:5px;
background: #c94b4b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

@media screen and (min-width: 1250px) {
margin-left:7.1vw;
}
@media screen and (max-width: 1250px) {
margin-left:7.1vw;
height:1709px;
}
@media screen and (max-width: 1160px) {
margin-left:7.1vw;
height:1659px;
}
@media screen and (max-width: 990px) {
height:1655px;
}
@media screen and (max-width: 965px) {
height:1615px;
}
@media screen and (max-width: 960px) {
margin-left:6.9vw;
}
@media screen and (max-width: 900px) {
margin-left:0px;
width:101vw;
border-radius:0px;
}
@media screen and (max-width: 773px) {
height:1735px;
}
@media screen and (max-width: 665px) {
height:1720px;
}
@media screen and (max-width: 605px) {
height:1815px;
}
@media screen and (max-width: 545px) {
height:1780px;
}
@media screen and (max-width: 530px) {
height:1740px;
}
@media screen and (max-width: 480px) {
height:1720px;
}
@media screen and (max-width: 445px) {
height:1600px;
}
@media screen and (max-width: 441px) {
width:101.5vw;
}
@media screen and (max-width: 420px) {
height:1520px;
}
@media screen and (max-width: 419px) {
width:103.5vw;
}
@media screen and (max-width: 400px) {
height:1500px;
}
@media screen and (max-width: 368px) {
height:1480px;
}
@media screen and (max-width: 360px) {
height:1680px;
}





// @media screen and (max-width: 650px) {
// margin-left:6.3vw;
// }
// @media screen and (max-width: 440px) {
// margin-left:6vw;
// }
}
.mission__graphWidths {
  float:left;
  margin-left:-22px;
  // margin-top:30px;

  @media screen and (min-width: 1252px) {
    width:42vw !important;
    margin-right:-50px;
    margin-top:48px;
    height:480px !important;
  }
  @media screen and (max-width: 1252px) {
    width:40vw !important;
    height:480px !important;
  }
  @media screen and (max-width: 1080px) {
    width:44vw;
    margin-right:-25px;
    margin-left:-82px;
  }
  @media screen and (max-width: 1030px) {
    width:41vw;
    margin-right:-25px;
    margin-left:-82px;
  }
  @media screen and (max-width: 965px) {
    width:41vw;
    margin-right:-25px;
    margin-left:-99px;
    height:460px !important;
  }
  @media screen and (max-width: 900px) {
    width:55.5vw !important;
    margin-right:-25px;
    margin-left:-97px;
  }
  @media screen and (max-width: 825px) {
    width:52vw !important;
    margin-right:-25px;
    margin-left:-97px;
  }
  @media screen and (max-width: 775px) {
    width:78.5vw !important;
    margin-right:-25px;
    margin-left:23px;
  }
  @media screen and (max-width: 670px) {
    width:81.5vw !important;
    margin-right:-25px;
    margin-left:20px;
  }
  @media screen and (max-width: 547px) {
    width:81.5vw !important;
    margin-right:-25px;
    margin-left:15px;
    height:420px !important;
  }
  @media screen and (max-width: 420px) {
    height:370px !important;
  }
  @media screen and (max-width: 400px) {
  margin-left:11px;
  width:75vw;
  }
  @media screen and (max-width: 360px) {
    height:430px !important;
  }
}
.mission__charityColours {
  float:left;
  width:300px;
  margin-left:30px;
  margin-top:100px;

  @media screen and (max-width: 775px) {
  display:none;
  }
}
.mission__charityColoursMobile {
  position:relative;
  left:7vw;
  margin-top:30px;

  @media screen and (min-width: 775px) {
  display:none;
  }
  @media screen and (max-width: 720px) {
  left:16px;
  }
}
.ourCharitiesMobileBox {
width:200px;
margin-bottom:20px;
margin-right:1px;
float:left;
}
.ourCharitiesMobileBox2 {
width:125px;
margin-bottom:20px;
margin-right:1px;
float:left;
}
.mission__justDiggitBox {
  background-color:#A18871;
  margin-right:15px;
  margin-top:1px;
  height:16px;
  width:16px;
  float:left;

  @media screen and (max-width: 1080px) {
    height:14px;
    width:14px;
    float:left;
  }
  @media screen and (max-width: 965px) {
    height:12px;
    width:12px;
    margin-right:12px;
    float:left;
  }
  @media screen and (max-width: 775px) {
    height:12px;
    width:12px;
    margin-right:12px;

  }
}
.mission__theSolutionsProjectBox {
  height:16px;
  width:16px;
  background-color:#8FB030;
  margin-right:15px;
  margin-top:1px;
  float:left;

  @media screen and (max-width: 1080px) {
    height:14px;
    width:14px;
    float:left;
  }
  @media screen and (max-width: 965px) {
    height:12px;
    width:12px;
    margin-right:12px;
    float:left;
  }
  @media screen and (max-width: 775px) {
    height:12px;
    width:12px;
    margin-right:12px;

  }
}
.mission__solarAidBox {
  height:16px;
  width:16px;
  background-color:#736697;
  margin-right:15px;
  margin-top:1px;
  float:left;

  @media screen and (max-width: 1080px) {
    height:14px;
    width:14px;
    float:left;
  }
  @media screen and (max-width: 965px) {
    height:12px;
    width:12px;
    margin-right:12px;
    float:left;
  }
  @media screen and (max-width: 775px) {
    height:12px;
    width:12px;
    margin-right:12px;

  }
}
.mission__standForTreesBox {
  height:16px;
  width:16px;
  background-color:#68819E;
  margin-right:15px;
  margin-top:1px;
  float:left;

  @media screen and (max-width: 1080px) {
    height:14px;
    width:14px;
    float:left;
  }
  @media screen and (max-width: 965px) {
    height:12px;
    width:12px;
    margin-right:12px;
    float:left;
  }
  @media screen and (max-width: 775px) {
    height:12px;
    width:12px;
    margin-right:12px;

  }
}
.mission__350DotOrgBox {
  height:16px;
  width:16px;
  background-color:#f19b1c;
  margin-right:15px;
  margin-top:1px;
  float:left;

  @media screen and (max-width: 1080px) {
    height:14px;
    width:14px;
    float:left;
  }
  @media screen and (max-width: 965px) {
    height:12px;
    width:12px;
    margin-right:12px;
    float:left;
  }
  @media screen and (max-width: 775px) {
    height:12px;
    width:12px;
    margin-right:12px;

  }
}
.mission__newHarvestBox {
  height:16px;
  width:16px;
  background-color:#FDEF6B;
  margin-right:15px;
  margin-top:1px;
  float:left;

  @media screen and (max-width: 1080px) {
    height:14px;
    width:14px;
    float:left;
  }
  @media screen and (max-width: 965px) {
    height:12px;
    width:12px;
    margin-right:12px;
    float:left;
  }
  @media screen and (max-width: 775px) {
    height:12px;
    width:12px;
    margin-right:12px;

  }
}
.mission__theGoodFoodInsituteBox {
  height:16px;
  width:16px;
  background-color:#FF6384;
  margin-right:15px;
  margin-top:1px;
  float:left;

  @media screen and (max-width: 1080px) {
    height:14px;
    width:14px;
    float:left;
  }
  @media screen and (max-width: 965px) {
    height:12px;
    width:12px;
    margin-right:12px;
    float:left;
  }
  @media screen and (max-width: 775px) {
    height:12px;
    width:12px;
    margin-right:12px;

  }
}
.mission__cotapBox {
  height:16px;
  width:16px;
  background-color:#FF6384;
  margin-right:15px;
  margin-top:1px;
  float:left;

  @media screen and (max-width: 1080px) {
    height:14px;
    width:14px;
    float:left;
  }
  @media screen and (max-width: 965px) {
    height:12px;
    width:12px;
    margin-right:12px;
    float:left;
  }
  @media screen and (max-width: 775px) {
    height:12px;
    width:12px;
    margin-right:12px;
    clear:both;
  }
}
.mission__nrdcBox {
  height:16px;
  width:16px;
  background-color:#A18871;
  margin-right:15px;
  margin-top:1px;
  float:left;

  @media screen and (max-width: 1080px) {
    height:14px;
    width:14px;
    float:left;
  }
  @media screen and (max-width: 965px) {
    height:12px;
    width:12px;
    margin-right:12px;
    float:left;
  }
  @media screen and (max-width: 775px) {
    height:12px;
    width:12px;
    margin-right:12px;

  }
}
.mission__charityColourText {
margin-bottom:15px;
font-size:0.95em;

@media screen and (max-width: 1080px) {
  margin-top:-1px;
  font-size:0.92em;
  margin-bottom:17px;
}
@media screen and (max-width: 1080px) {
  margin-top:-1px;
  font-size:0.89em;
  margin-bottom:17px;
}
@media screen and (max-width: 775px) {
  margin-top:-1px;
  font-size:0.87em;
  margin-bottom:17px;
}
}
.mission__firstCharityGraph {
  margin-top:20px;
  background-color:#fff;
  width:880px;
  height:1325px;
  border-radius:5px;

  @media screen and (min-width: 1250px) {
  width:68.8vw;
  }
  @media screen and (max-width: 1250px) {
  width:68.8vw;
  height:1285px;
  }
  @media screen and (max-width: 1160px) {
  width:68.8vw;
  height:1235px;
  }
  @media screen and (max-width: 990px) {
  width:68.8vw;
  height:1205px;
  }
  @media screen and (max-width: 965px) {
  width:68.8vw;
  height:1185px;
  }
  @media screen and (max-width: 900px) {
  width:83.5vw;
  }
  @media screen and (max-width: 773px) {
  width:83.5vw;
  height:1320px;
  }
  @media screen and (max-width: 670px) {
  width:87vw;
  }
  @media screen and (max-width: 665px) {
  width:87vw;
  height:1300px;
  }
  @media screen and (max-width: 605px) {
  width:87vw;
  height:1410px;
  }
  @media screen and (max-width: 545px) {
  width:87vw;
  height:1360px;
  }
  @media screen and (max-width: 533px) {
  width:87vw;
  }
  @media screen and (max-width: 530px) {
  height:1320px;
  }
  @media screen and (max-width: 500px) {
  width:89vw;
  }
  @media screen and (max-width: 460px) {
  height:1290px;
  }
  @media screen and (max-width: 420px) {
  height:1210px;
  }
  @media screen and (max-width: 400px) {
  height:1190px;
  }
  @media screen and (max-width: 400px) {
  width:86.5vw;
  }
  @media screen and (max-width: 368px) {
  height:1310px;
  }
  @media screen and (max-width: 360px) {
  height:1370px;
  }
  @media screen and (max-width: 350px) {
  width:86.5vw;
  }
}
// .mission__secondCharityGraph {
//   margin-top:20px;
//   background-color:#fff;
//   width:880px;
//   height:490px;
//   border-radius:5px;
// }
.mission__shareOfEarningsHeader {
margin-top:50px;
margin-bottom:35px;
display:flex;
justify-content:center;

@media screen and (min-width: 530px) {
font-size:2.1em;
}
@media screen and (max-width: 530px) {
font-size:1.9em;
}
@media screen and (max-width: 420px) {
font-size:1.7em;
}
@media screen and (max-width: 395px) {
font-size:1.5em;
}
}
.mission__ourProgressHeader {
margin-top:15px;
margin-bottom:35px;
display:flex;
justify-content:center;

@media screen and (min-width: 530px) {
font-size:2.1em;
}
@media screen and (max-width: 530px) {
font-size:1.9em;
}
@media screen and (max-width: 420px) {
font-size:1.7em;
}
}
.missionWidths {

}
.mission__firstCharityGraphSpacing {
  height:40px;
}
.ourCharities__pieChart {

  @media screen and (min-width: 1290px) {
    left:17vw;
    width:480px !important;
    display:flex;
    height:480px !important;
    position:relative;
  }
  @media screen and (max-width: 1290px) {
    width:480px !important;
    display:flex;
    height:480px !important;
    position:relative;
    left:15vw;
  }
  @media screen and (max-width: 1160px) {
    width:440px !important;
    display:flex;
    height:440px !important;
    position:relative;
    left:15.5vw;
  }
  @media screen and (max-width: 1120px) {
    width:440px !important;
    display:flex;
    height:440px !important;
    position:relative;
    left:13.5vw;
  }
  @media screen and (max-width: 990px) {
    width:410px !important;
    display:flex;
    height:410px !important;
    position:relative;
    left:13.5vw;
  }
  @media screen and (max-width: 940px) {
    width:410px !important;
    display:flex;
    height:410px !important;
    position:relative;
    left:11.5vw;
  }
  @media screen and (max-width: 900px) {
    width:410px !important;
    display:flex;
    height:410px !important;
    position:relative;
    left:18.5vw;
  }
  @media screen and (max-width: 840px) {
    width:410px !important;
    display:flex;
    height:410px !important;
    position:relative;
    left:16.5vw;
  }
  @media screen and (max-width: 760px) {
    width:400px !important;
    display:flex;
    height:400px !important;
    position:relative;
    left:15vw;
  }
  @media screen and (max-width: 665px) {
    width:390px !important;
    display:flex;
    height:390px !important;
    position:relative;
    left:11.5vw;
  }
  @media screen and (max-width: 600px) {
    width:380px !important;
    display:flex;
    height:380px !important;
    position:relative;
    left:9.5vw;
  }
  @media screen and (max-width: 555px) {
    width:370px !important;
    display:flex;
    height:370px !important;
    position:relative;
    left:7.5vw;
  }
  @media screen and (max-width: 530px) {
    width:340px !important;
    display:flex;
    height:340px !important;
    position:relative;
    left:7.5vw;
  }
  @media screen and (max-width: 460px) {
    width:320px !important;
    display:flex;
    height:320px !important;
    position:relative;
    left:7.5vw;
  }
  @media screen and (max-width: 425px) {
    width:300px !important;
    display:flex;
    height:300px !important;
    position:relative;
    left:7.5vw;
  }
  @media screen and (max-width: 390px) {
    width:290px !important;
    display:flex;
    height:290px !important;
    position:relative;
    left:7.5vw;
  }
  @media screen and (max-width: 360px) {
    width:250px !important;
    display:flex;
    height:290px !important;
    position:relative;
    left:7.5vw;
  }
}
.ourCharities__pieChartInner {
  // width: 100% !important;
  // max-width: 800px;
  // height: auto !important;
}
