.refTooltip {
  padding-bottom:-8px;
  margin-bottom:-8px;
}

.refTooltip .refTooltiptext {
  visibility: hidden;
  width: 280px;
  height:364px; /* 349px */
  background-color: #ffffff;
  color:#000000;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute; /*ab*/
  top: -20.5px; /* 104px */
  left: 1.5%;
border: 1px solid #dcdcdc;
  transition-delay: 0.8s; /* 0.55 */
  z-index:10005;

 -webkit-box-shadow: 0px 2px 1px -1px #d2d2d2;
 -moz-box-shadow:    0px 2px 1px -1px #d2d2d2;
 box-shadow:         0px 2px 1px -1px #d2d2d2;
}
.refTooltip .refTooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  z-index:10004;

}
.refBelowTooltipborder {
  visibility:hidden;
  content: "";
  position: absolute;
  top: 65.2%; /* 64.8% */
  left: 20.8%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:10006;
}
.refTooltipborder {
  visibility:hidden;
  content: "";
  position: absolute;
  top: 65.1%; /* 64.8% */
  left: 20.5%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: #dcdcdc transparent transparent transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:10004;
}

.refTooltip:hover .refTooltipborder {
visibility: visible;
  transition-delay: 0.9s;
}
.refTooltip:hover .refBelowTooltipborder {
visibility: visible;
  transition-delay: 0.9s;
}
.refTooltip:hover .refTooltiptext {
  visibility: visible;
  transition-delay: 0.9s;
}
.refTooltiptext:hover  {
  visibility: visible;
  transition-delay: 0s;
}
.refTooltiptext:hover .refTooltipborder  {
  visibility: visible;
  transition-delay: 0s;
}
.refTooltiptext:hover .refBelowTooltipborder  {
  visibility: visible;
  transition-delay: 0s;
}
.refTooltiptext:hover .hoverAuthorName {
border: 1px solid #ffffff;
}
/* ---------------- */

 .refImageToolTip {
  padding-bottom:-8px;
  margin-bottom:-8px;
  position:relative;
}
.refImageToolTip .refImageToolTipText {
  visibility:hidden;
  width: 280px;
  height:364px; /* 349px */
  background-color: #ffffff;
  color:#000000;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 40;
  top: -539.5px;
  left: -12.5%;
  margin-left:-12px;
border: 1px solid #dcdcdc;
  transition-delay: 0.55s;
 z-index:10005;

  -webkit-box-shadow: 0px 2px 1px -1px #d2d2d2;
 -moz-box-shadow:    0px 2px 1px -1px #d2d2d2;
 box-shadow:         0px 2px 1px -1px #d2d2d2;
}
.refImageToolTip .refImageToolTipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -59px;
}
.refImageTooltipborder {
  visibility:hidden;
  content: "";
  position: absolute;
  top: -42%;
  margin-top:-177.5px;
  left: 6.3%;
  margin-left: -7px;
  border-width: 10px;
  border-style: solid;
  border-color: #dcdcdc transparent transparent transparent;
  transition-delay: 0.55s;
  z-index:10004;
}
.refBelowImageTooltipborder {
  visibility:hidden;
  content: "";
  position: absolute;
  top: -133.5px;
  margin-top:-43.5px;
  left: 6.3%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  transition-delay: 0.8s;
  z-index:10006;
}

.refImageToolTip:hover .refBelowImageTooltipborder {
visibility: visible;
  transition-delay: 0.9s;
}
.refImageToolTipText:hover .refBelowImageTooltipborder  {
  visibility: visible;
  transition-delay: 0s;
}
.refImageToolTip:hover .refImageToolTipText {
  visibility: visible;
  transition-delay: 0.8s;
}
.refImageToolTip:hover .refImageTooltipborder {
visibility: visible;
transition-delay: 0.8s;
}

.bottomSeperatingLine {
margin-left:13px;
width:744px; margin-top:54px; height:1px; border:none; color:#e7e7e7; background-color:#e7e7e7;

@media screen and (max-width: 795px) {
width:92.5vw;
}
@media screen and (max-width: 675px) {
width:93.7vw;
}
@media screen and (max-width: 615px) {
width:92.7vw;
}
@media screen and (max-width: 515px) {
width:91.3vw;
}
@media screen and (max-width: 430px) {
width:90.5vw;
}
}
.bottomSeperatingLineBottom {
margin-left:13px;
width:744px; margin-top:30px; height:1px; border:none; color:#e7e7e7; background-color:#e7e7e7;

@media screen and (max-width: 795px) {
width:92.5vw;
}
@media screen and (max-width: 675px) {
width:93.7vw;
}
@media screen and (max-width: 615px) {
width:92.7vw;
}
@media screen and (max-width: 515px) {
width:91.3vw;
}
@media screen and (max-width: 430px) {
width:90.5vw;
}
}
.titleVerticalLine {
background-color:#15a05c;
width:45px;
margin-left:12px;
margin-top:-2px;
margin-bottom:5px;
height:3px; border:none; margin-top:35px;

@media screen and (max-width: 494px) {
width:32px;
}
@media screen and (max-width: 425px) {
width:22px;
margin-bottom:-2px;
margin-left:13px;
}
}

.captionBottomStory {
font-size:1.4em;
margin-left:12px;
margin-top:6px;
font-weight:600;
letter-spacing:0.045em;

@media screen and (max-width: 495px) {
font-size:1.2em;
}
@media screen and (max-width: 450px) {
width:93vw;
}
@media screen and (max-width: 425px) {
font-size:1.1em;
}
}
.captionBelowBottomStory {
margin-left:12px;
margin-top:6px;
margin-bottom:20px;

@media screen and (max-width: 682px) {
  margin-top:9px;
}
@media screen and (max-width: 550px) {
  margin-top:9px;
  margin-bottom:-15px;
  font-size:0.96em;
}
@media screen and (max-width: 450px) {
  width:92vw;
}

}
.ekes {
font-size:1.1em;
color:#198658;
cursor:pointer;
letter-spacing:0.04em;
opacity:0.95;
user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
transition:0.35s ease;
}
.sidenav {
  height: 100%;
  width:385px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border: 1px solid #dcdcdc;
  border-radius:0px 5px 5px 0px;
  z-index:30000;
}
.closebtn {
  padding: 20px 5px 8px 47.5px;
  position:relative;
  margin-top:-75px;
  text-decoration: none;
  color: #dcdcdc;
  display: block;
  transition: 0.3s;
  font-size: 39px;
  margin-left: 292px;
  cursor:pointer;

  @media screen and (max-width: 500px) {
    position:relative;
    left:81vw;
    margin-left:0px;
  }
  @media screen and (max-width: 475px) {
    position:relative;
    left:80vw;
    margin-left:0px;
  }
  @media screen and (max-width: 455px) {
    position:relative;
    left:79vw;
    margin-left:0px;
  }
  @media screen and (max-width: 425px) {
    position:relative;
    left:78vw;
    margin-left:0px;
  }
  @media screen and (max-width: 410px) {
    position:relative;
    left:77vw;
    margin-left:0px;
  }
  @media screen and (max-width: 385px) {
    position:relative;
    left:76vw;
    margin-left:0px;
  }
  @media screen and (max-width: 365px) {
    position:relative;
    left:75vw;
    margin-left:0px;
  }
  @media screen and (max-width: 348px) {
    position:relative;
    left:73vw;
    margin-left:0px;
  }
}
.eser {
  color:#198658;
  transition:0.4s;
  border-bottom: 0.9px solid rgba(25, 134, 88, 0.4);
  opacity:0.8px;
  padding-bottom:1.5px;
}
  a.eser:hover {
 opacity:0.5;
}
.refShareHovered {
 color:#15a05c;			/*#2c9061;*/
 display:none;
 user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.refShareDropDown {
  color:#8c8c8c;
}
.refShareSlideUp {
  display:none;
  color:#15a05c;	/*#2c9061;*/
}
.refShareHover {
  color:#a0a0a0;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
 .refShareButton {
  display:none;
  position:absolute;
  left:18.3%; /*16%*/
  top:37.8%;
  z-index:11000;
  width: 150px;
  height:230px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc; /* */
  border-radius:5px;
  transition-delay: 0.55s;
}

.refShareArrow1 {
  display:none;
  position: absolute;
  opacity:1;
  top: 35%; /* 125 - 120 */
  left: 24.1%; /* 16 - 13 */
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  z-index:13001;
}
.refShareArrow2 {
  display:none;
  position: absolute;
  top: 34.4%;
  left: 23.85%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #dcdcdc transparent;
  transition-delay: 0.55s;
  z-index:10999;
}
.authorAndComments__referencesDiv {
  margin-left:22px; margin-right:30px; margin-bottom:28px; font-size:1.06em;
}
.authorAndComments_relative {
  position:relative;
}
.authorAndComments__referencesInnerDiv {
  margin-left:20px;margin-top:-21px;
}
.authorAndComments__referencesHr {
  border:none; color:#e4e4e4; height:1px; margin-left:42px; margin-top:-6px; margin-bottom:21px; width:315px; background-color:#e4e4e4;
}
.ab__shareAndCommentsStory2 {
  margin-top:-27px; margin-left:535px;

  @media screen and (max-width: 697px) {
    position:relative;
    right:25px;
  }
  @media screen and (max-width: 655px) {
    position:relative;
    right:45px;
  }
  @media screen and (max-width: 635px) {
    position:relative;
    right:65px;
  }
  @media screen and (max-width: 613px) {
    position:relative;
    right:85px;
  }
  @media screen and (max-width: 598px) {
    position:relative;
    right:105px;
  }
  @media screen and (max-width: 572px) {
    position:relative;
    right:125px;
  }
  @media screen and (max-width: 558px) {
    position:relative;
    right:145px;
  }
  @media screen and (max-width: 528px) {
    position:relative;
    right:165px;
  }
  @media screen and (max-width: 516px) {
    position:relative;
    right:185px;
  }
  @media screen and (max-width: 494px) {
    position:relative;
    right:205px;
  }
  @media screen and (max-width: 471px) {
    position:relative;
    right:225px;
  }
  @media screen and (max-width: 452px) {
    // position:relative;
    // right:245px;
    display:none;
  }
  // @media screen and (max-width: 429px) {
  //   position:relative;
  //   right:265px;
  // }
  // @media screen and (max-width: 410px) {
  //   position:relative;
  //   right:285px;
  // }
}
.commentIconStory2 {
  color:#dcdcdc; width:25.5px; height:25.5px; font-size:1.36em; margin-top:-5px;
}
.refNumCom {
  color:#bfbfbf; margin-top:-23px; margin-left:34px; font-size:0.82em; letter-spacing:0.02em;
}
.commentAndSharesLineStory1 {
  border-color:#dcdcdc; height:22px; margin-top:-18.5px;
}
.shareIconStory2 {
  color:#dcdcdc; width:20.5px; height:21.5px; font-size:1.24em; margin-top:-2px;
}
.refNumShare {
  color:#bfbfbf; font-size:0.82em; margin-left:99px; margin-top:-41px;
}
.authorAndComments__topReferencingSpacing {
  margin-bottom:4px;
}
.authorAndComments__aboutTheAuthorTopSpacing {
  margin-bottom:55px;
}
.authorAndComments__aboutTheAuthor {
  display:inline-block; display:-moz-inline-block; margin-bottom:-25px;
}
.authorAndComments__referencesSection {
  display:inline-block; display:-moz-inline-block; margin-left:-354px; margin-right:-120px;


}
.authorAndComments__stsyst {
   float:left;
   color:#7d7d7d;
   letter-spacing:0.045em;
   font-weight:300;
   margin-top:2px;
   margin-left:17px;
   margin-bottom:70px;
   width:450px;
 }
 .authorAndComments__referencesSectionInnerDiv {
   margin-left:14.5px;font-size:1.91em;line-height:0;padding-bottom:3px; margin-top:5px;
 }
 .authorAndComments__aboutTheAuthorInnerDiv {
   font-size:1.91em;line-height:0; padding-bottom:3px; margin-left:15px; margin-top:10px;

   @media screen and (max-width: 450px) {
      font-size:1.86em;
   }
   @media screen and (max-width: 420px) {
      font-size:1.82em;
   }
   @media screen and (max-width: 350px) {
      font-size:1.73em;
      padding-bottom:5px;
   }
 }
 .authorAndComments__topHrs {
   height:3.25px; border:none; color:#dddddd; background-color:#dddddd; width:323px; margin-left:13px; margin-top:-7px;

   @media screen and (max-width: 762px) {
     width:423px;
   }
   @media screen and (max-width: 625px) {
     width:68vw;
   }
   @media screen and (max-width: 462px) {
     width:71vw;
   }
 }
 .ac__mobileMarginLeft {
   @media screen and (max-width: 762px) {
     position:relative;
     left:11vw;
   }
   @media screen and (max-width: 760px) {
     position:relative;
     left:18.7vw;
   }
   @media screen and (max-width: 735px) {
     position:relative;
     left:16.7vw;
   }
   @media screen and (max-width: 695px) {
     position:relative;
     left:15.7vw;
   }
   @media screen and (max-width: 675px) {
     position:relative;
     left:14.7vw;
   }
   @media screen and (max-width: 655px) {
     position:relative;
     left:13.7vw;
   }
   @media screen and (max-width: 620px) {
     position:relative;
     left:12.2vw;
   }
   @media screen and (max-width: 550px) {
     position:relative;
     left:11.2vw;
   }
   @media screen and (max-width: 530px) {
     position:relative;
     left:10.2vw;
   }
   @media screen and (max-width: 460px) {
     position:relative;
     left:9.2vw;
   }
   @media screen and (max-width: 415px) {
     position:relative;
     left:8vw;
   }
   @media screen and (max-width: 366px) {
     position:relative;
     left:5vw;
   }


 }
 .authorAndComments__aboutTheAuthorDescription {
   line-height:1.56; font-size:0.85em; margin-left:-4px; margin-top:24px; width:298px; float:left;

   @media screen and (max-width: 908px) and (min-width: 475px) {
     width:268px;
   }
   @media screen and (max-width: 762px) and (min-width: 475px) {
     margin-left:6.5vw;
   }
   @media screen and (max-width: 475px) {
     margin-left:2px;
     width:56vw;
   }
 }
 .authorAndComments__authorSectProfileButtonTop2 {
   margin-top:-63px;
   float:left;
   font-size:0.73em;
   margin-top:-63px;
   margin-left:96px;
   border-radius:5px;
   font-weight:400;
   display:flex;
   justify-content:center;
   text-align:center;
   padding-right:20px;
   padding-left:20px;
   letter-spacing:0.045em;
   cursor:pointer;
   transition:0.2s;
 }
 .authorAndComments__authorSectProfileButtonTop2NoDes {
   margin-top:-60px;
   float:left;
   font-size:0.73em;
   margin-left:96px;
   border-radius:5px;
   font-weight:400;
   display:flex;
   justify-content:center;
   text-align:center;
   padding-right:20px;
   padding-left:20px;
   letter-spacing:0.045em;
   cursor:pointer;
   transition:0.2s;
 }
 .authorAndComments__authorSectProfileButtonTop2NoDes:hover {
  transition:0.2s;
  border: 1.25px solid #000;
  color:#000;
 }
 .refContainerViewProfileLink {
   margin-top:9px;
 }
 .authorAndComments__referencesTopDiv {
   width:340px; font-weight:400; position:relative; margin-left:95px; margin-top:45px; float:left;
 }
 .authorAndComments__outsideReferenceOuterDiv {
   position:relative; top:1.2px; font-size:0.975em; width:320px; line-height:1.62;

   @media screen and (max-width: 762px) {
     width:418px;
   }
   @media screen and (max-width: 615px) {
     width:66vw;
   }
 }
 .authorAndComments__outerReferenceInnerDiv {
   position:relative; top:-20.5px; margin-left:16px; font-size:1.03em;
 }
 .authorAndComments__referencesShowMoreTopDiv {

  @media screen and (min-width: 762px) {
    margin-left:214px;
    margin-top:-188px;
  }
  @media screen and (max-width: 762px) {
    margin-left:214px;
    margin-top:-188px;
  }
 }
 .authorAndComments__showMoreAngleIcon {
   float:left; margin-left:2px; margin-top:5px;
 }
 .referencesSideTopHr {
   height:4px; width:50px; border:none; margin-top:-5px; margin-left:43.5px; margin-bottom:-2px;
 }
 .referencesSideTopH2 {
   margin-left:41.5px; font-size:2.62em; line-height:0; padding-bottom:34px; margin-top:34px;
 }
 .referencesSideSecondHr {
   border:none; color:#dcdcdc; height:1px; margin-left:0px; margin-top:-12px; margin-bottom:39px; width:445px; background-color:#e4e4e4;

   @media screen and (max-width: 500px) {
     width:100vw;
   }
 }
 .referencesSideBottomClose {

 }
 .referencesSideBottomCloseX {
   float:left; color:#198658; font-size:1.66em;  margin-bottom:27px; margin-top:-27px;
 }
 .referencesSideBottomCloseBottom {

 }
 .referencesSideBottomCloseXBottom {
   float:left; color:#198658; font-size:1.66em;  margin-bottom:27px; margin-top:-27px;
 }

.refAuthorImgHovTooltip {
margin-top:16px; margin-left:9px; float:left;
position:relative;
z-index:1;
}
.authorAndComments__shareIconsMarginLeft {
  margin-left:-88px;
  margin-top:50px;
}
.authorsAndComments__referencesTPositioningDiv {
  position:relative; margin-top:10px; width:600px;

  @media screen and (max-width: 587px) {
  margin-right:-120px;
  }
}
.authorsAndComments__referencesTopPositioningDiv {
  margin-top:5px;

  @media screen and (min-width: 810px) {
      float:left;
      margin-left:-295px;
  }
  @media screen and (max-width: 810px) and (min-width: 762px) {
    margin-left:-315px;
      float:left;
  }
  @media screen and (max-width: 762px) {
    left:30.3vw;
    margin-left:-302px;
    position:relative;
    top:25px;
    clear:both;
  }
  @media screen and (max-width: 692px) {
    left:32.3vw;
  }
  @media screen and (max-width: 655px) {
    left:34.8vw;
  }
  @media screen and (max-width: 615px) {
    left:37.8vw;
  }
  @media screen and (max-width: 590px) {
    position:relative;
    left:38.9vw;
  }
  @media screen and (max-width: 565px) {
    left:40.9vw;
  }
  @media screen and (max-width: 535px) {
    position:relative;
    left:43.5vw;
  }
  @media screen and (max-width: 505px) {
    position:relative;
    left:45.5vw;
  }
  @media screen and (max-width: 470px) {
    position:relative;
    left:47.9vw;
  }
  @media screen and (max-width: 443px) {
    position:relative;
    left:49.9vw;
  }
  @media screen and (max-width: 425px) {
    position:relative;
    left:51.9vw;
  }
  @media screen and (max-width: 415px) {
    position:relative;
    left:219px;
    right:5px;
  }
  @media screen and (max-width: 360px) {
    position:relative;
    left:226px;
    right:5px;
  }
}
.width0 {
  width:0px;
  margin-left:-2px;
}
.width385 {
  width:385px;
  margin-left:0px;

  @media screen and (max-width: 500px) {
  width:100vw;
  }
}
.authorAndComments__veryBottomSpacing {
  clear:both;
  margin-bottom:150px;
}
.centerOfBrowser {
margin-left:19.5vw;
margin-top:-290px;

@media screen and (max-width: 1250px) {
margin-left:18.5vw;
}
@media screen and (max-width: 1180px) {
margin-left:17vw;
}
@media screen and (max-width: 1135px) {
margin-left:15.5vw;
}
@media screen and (max-width: 1109px) {
margin-left:12.8vw;
}
@media screen and (max-width: 1069px) {
margin-left:10.8vw;
}
@media screen and (max-width: 1005px) {
margin-left:8.8vw;
}
@media screen and (max-width: 956px) {
margin-left:6.8vw;
}
@media screen and (max-width: 900px) {
margin-left:4.8vw;
}
@media screen and (max-width: 860px) {
margin-left:2.8vw;
}
@media screen and (max-width: 825px) {
margin-left:1.2vw;
}
@media screen and (max-width: 675px) {
margin-left:0.3vw;
}





}
.authorAndComments__firstAuthorToolTipStyles {
  letter-spacing:0.02em;
  font-size:0.9em;
  padding-bottom:3.5px;
  margin-top:4px;
  margin-bottom:10px;
}
.authorAndComments__descriptionMarginTop {
  margin-top:18px; letter-spacing:0.033em;
  width:238px;

  @media screen and (max-width: 762px) {
    width:308px;
  }
  @media screen and (max-width: 495px) {
    width:63vw;
  }
  @media screen and (max-width: 475px) {
    width:66vw;
  }
  @media screen and (max-width: 382px) {
    width:70vw;
  }
}
.story__bottomFollowButtonPositioning {
margin-top:-63px;
margin-left:96px;

@media screen and (max-width: 762px) {
margin-left:18px;
}
}
.bottomStory__behindCircleAAC {
  border-radius:50%;
  position:absolute;
  z-index:0;
  margin-top:13px;
  margin-left:6px;

  background-color: #378b29;
  background-image: linear-gradient(315deg, #378b29 0%, #ffffff 74%);

  width:67px;
  height:67px;

  @media screen and (max-width: 762px) {
  width:127px;
  height:127px;
  left:20vw;
  margin-top:0px;
  }
  @media screen and (max-width: 625px) {
  left:24vw;
  }
  @media screen and (max-width: 475px) {
  left:21vw;
  }
}
.titleAuthorImageHoverAboutImage {
border-radius: 50%;
margin-right:3px;
margin-bottom:0px; /* -2px */

user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
cursor:pointer;

width:61px;
height:61px;

@media screen and (max-width: 762px) {
width:121px;
height:121px;
position:relative;
left:20vw;
margin-bottom:6px;
margin-top:3px;
}
@media screen and (max-width: 625px) {
left:24vw;
}
@media screen and (max-width: 475px) {
left:21vw;
}
}
.titleAuthorImageHoverAbout {
border-radius: 50%;
margin-right:3px;
margin-bottom:0px; /* -2px */

user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
cursor:pointer;

width:61px;
height:61px;

@media screen and (max-width: 762px) {
width:121px;
height:121px;
position:relative;
left:20vw;
margin-bottom:6px;
margin-top:3px;
}
}

.referencesAndAuthorTopDiv {
  @media screen and (min-width: 762px) {
  display:flex;
}
}
.story__positionShowMoreLessLinks {
color:#15a05c;
font-size:0.99em;
margin-top:203px;
margin-left:-216px;
position:relative;
z-index:2;
}
.story__referencesShowMore {
cursor:pointer;
}
.story__referencesShowMoreIcon {
margin-left:5px;
margin-top:5px;
}
.story__referencesShowLess {
cursor:pointer;
}
.story__referencesShowLessIcon {
margin-left:5px;
margin-top:5px;
}
.referencesNav__mainBody {
  width:330px;
  margin-left:30px;

  line-height:1.62;

  font-size:0.98em;

  margin-bottom:0px;

  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  @media screen and (max-width: 500px) {
  width:82vw;
  }
}
.story__referencesMiddleHeight {
  margin-top:0px;
}
.story__referencesMiddleHeightAfter {
  height:85px;
}
.story__referencesCloseTooltip {
margin-top:0px;
position:relative;
left:29px;
color:#15a05c;
font-size:1.06em;
cursor:pointer;
}
.referencesSideBottomCloseXLeft {
font-size:1.36em;
color:#15a05c;
margin-top:11px;
position:relative;
top:4px;
margin-left:0px;
}
