a {
text-decoration:none;
color:#000;
}
input {
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
textarea {
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

html, body {
  max-width:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

}

::-webkit-scrollbar-track-piece:start {
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track-piece:end {
    background: rgba(255, 255, 255, 0.1);
}

// html, body {
//     max-width: 100%;
//     overflow-x: hidden;
//     // height:auto!important;
// }

.label {

}

.setWidth {
  width:90vw;
  align-items:center;
}
.marginTop20 {
  margin-top:20px;
}

.marginLeft10 {
  margin-left:10px;
}

.floatLeft {
float:left;
margin-right:$space;
}

.floatRight {
float:right;

}

.floatCenter {
align-items:center;
}

.clearBoth {
clear:both;
}

.fifteenPixelHeight {
height:15px;
}

.fourhundredPixelWidth {
width:310px;
}

.flex {
display:flex;
}
.link {
cursor:pointer;
color:#15a05c;
transition:0.25s;
}
.link:hover {
  color:#000;
  transition:0.25s;
}
.contactPageWidth {
  width:470px;
  line-height:1.45;
  margin-bottom:8px;
}
.contactPageWidth2 {
  width:500px;
}
.contactPageWidth3 {
  width:470px;

  @media screen and (max-width: 580px) {
    width:75vw;
    font-size:0.97em;
    margin-top:-5px;
  }

}
.contactPage__message {
  resize: none;
  width:500px;
  height:90px;
}
.contactPage__mainHeader {
  margin-bottom:10px;
}
.contactPageSwitchBack {
  margin-right:-330px;
  margin-bottom:30px;
}
.marginLeftReason {
  margin-top:8px;
  clear:both;
}
.marginBottomReason {
  margin-bottom:0px;
  clear:both;
}
.belowReasonContact {
  margin-top:5px;
}
.marginTopFeedback {
  margin-top:-1px;
}
.marginLeftAreasForImprovement {
  margin-left:30px;
  float:left;

  @media screen and (max-width: 635px) {
    margin-left:10px;
  }

  @media screen and (max-width: 551px) {
    margin-left:-8px;
    clear:both;
  }
}
.getInvolved__topHeaderSubtitleAbout {
color:#7d7d7d;
letter-spacing:0.035em;
margin-top:-5px;
margin-bottom:35px;

@media screen and (min-width: 1160px) {
    margin-left:155px;
    font-size:1.15em;
    width:650px;
}
@media screen and (max-width: 1160px) and (min-width: 1130px) {
   margin-left:135px;
   font-size:1.15em;
   width:650px;
}
@media screen and (max-width: 1130px) and (min-width: 1060px) {
   margin-left:115px;
   font-size:1.13em;
   width:650px;
}
@media screen and (max-width: 1060px) and (min-width: 960px) {
   margin-left:105px;
   font-size:1.12em;
   width:650px;
}
@media screen and (max-width: 960px) and (min-width: 860px) {
   margin-left:95px;
   font-size:1.1em;
   width:650px;
}
@media screen and (max-width: 860px) and (min-width: 800px) {
   margin-left:75px;
   font-size:1.08em;
   width:78vw;
}
@media screen and (max-width: 800px) and (min-width: 660px) {
   margin-left:45px;
   font-size:1.06em;
   width:85vw;
}
@media screen and (max-width: 660px) and (min-width: 615px) {
   margin-left:25px;
   font-size:1.04em;
   width:86vw;
}
@media screen and (max-width: 615px) and (min-width: 560px) {
   margin-left:25px;
   font-size:1.04em;
   width:86vw;
   margin-bottom:23px;
   margin-top:-10px;
}
@media screen and (max-width: 560px) {
   margin-left:22px;
   font-size:1.02em;
   width:88vw;
   line-height:1.3;
   margin-bottom:23px;
   margin-top:-10px;
}
@media screen and (max-width: 450px) {
   margin-left:22px;
   font-size:0.98em;
   width:88vw;
   line-height:1.3;
   margin-bottom:23px;
   margin-top:-10px;
}
}
.getInvolved__mainTitleCategories {
 margin-bottom:22px;
 display:block;

 letter-spacing:0.005em;
 word-spacing:-0.01em;
 font-weight:750;
 margin-top:55px;

 @media screen and (min-width: 1160px) {
    margin-left:153px;
    font-size:2.85em;
 }
 @media screen and (max-width: 1160px) and (min-width: 1130px) {
    margin-left:133px;
    font-size:2.7em;
 }
 @media screen and (max-width: 1130px) and (min-width: 1060px) {
    margin-left:113px;
    font-size:2.6em;
 }
 @media screen and (max-width: 1060px) and (min-width: 960px) {
    margin-left:103px;
    font-size:2.55em;
 }
 @media screen and (max-width: 960px) and (min-width: 860px) {
    margin-left:93px;
    font-size:2.4em;
 }
 @media screen and (max-width: 860px) and (min-width: 800px) {
    margin-left:73px;
    font-size:2.2em;
 }
 @media screen and (max-width: 800px) and (min-width: 660px) {
    margin-left:43px;
    font-size:2.2em;
 }
 @media screen and (max-width: 660px) and (min-width: 560px) {
    margin-left:23px;
    font-size:2.15em;
 }
 @media screen and (max-width: 560px) {
    margin-left:21px;
    font-size:2.09em;
 }
 }
 .getInvovled__readOurStoriesImage {
   margin-top:-20px;
   border-radius:6px;
   -webkit-box-shadow:   1px 1.5px 1.5px 2px #f0f0f0;
     -moz-box-shadow:    1px 1.5px 1.5px 2px #f0f0f0;
     box-shadow:         1px 1.5px 1.5px 2px #f0f0f0;

@media screen and (min-width: 1160px) {
    margin-left:153px;
    width:380px;
    height:270px;
}
@media screen and (max-width: 1160px) and (min-width: 1130px) {
   margin-left:133px;
   width:380px;
   height:270px;
}
@media screen and (max-width: 1130px) and (min-width: 1060px) {
   margin-left:113px;
   width:380px;
   height:270px;
}
@media screen and (max-width: 1060px) and (min-width: 960px) {
   margin-left:103px;
   width:380px;
   height:270px;
}
@media screen and (max-width: 960px) and (min-width: 860px) {
   margin-left:93px;
   width:40.5vw;
   height:28vw;
}
@media screen and (max-width: 860px) and (min-width: 800px) {
   margin-left:73px;
   width:40.5vw;
   height:28vw;
}
@media screen and (max-width: 800px) and (min-width: 660px) {
   margin-left:43px;
   width:40.5vw;
   height:28vw;
}
@media screen and (max-width: 660px) and (min-width: 615px) {
   margin-left:23px;
   width:40.5vw;
   height:28vw;
}
@media screen and (max-width: 615px) {
   margin-left:23px;
   width:90vw;
   height:64.5vw;
   margin-top:-14px;
}
@media screen and (max-width: 560px) {
   margin-left:20px;
   width:93vw;
   height:64.5vw;
   margin-top:-14px;
}
@media screen and (max-width: 500px) {
   margin-left:20px;
   width:93vw;
   height:64.5vw;
   margin-top:-14px;
}
@media screen and (max-width: 430px) {
   margin-left:20px;
   width:91vw;
   height:64.5vw;
   margin-top:-14px;
}
@media screen and (max-width: 365px) {
   margin-left:20px;
   width:87.5vw;
   height:64.5vw;
   margin-top:-14px;
}
 }
 .getInvolved__hr {
  border:none; height:1px; background-color:#e7e7e7; display:flex; margin-top:-2px; margin-bottom:40px;

  @media screen and (min-width: 1210px) {
      margin-left:153px;
      width:950px;
  }
  @media screen and (max-width: 1210px) and (min-width: 1160px) {
      margin-left:153px;
      width:865px;
  }
  @media screen and (max-width: 1160px) and (min-width: 1130px) {
     margin-left:133px;
     width:865px;
  }
  @media screen and (max-width: 1130px) and (min-width: 1035px) {
     margin-left:113px;
     width:840px;
  }
  @media screen and (max-width: 1035px) and (min-width: 960px) {
     margin-left:103px;
     width:750px;
  }
  @media screen and (max-width: 960px) and (min-width: 860px) {
     margin-left:93px;
     width:82vw;
  }
  @media screen and (max-width: 860px) and (min-width: 800px) {
     margin-left:73px;
     width:82vw;
  }
  @media screen and (max-width: 800px) and (min-width: 660px) {
     margin-left:43px;
     width:87vw;
  }
  @media screen and (max-width: 660px) and (min-width: 615px) {
     margin-left:23px;
     width:90vw;
  }
  @media screen and (max-width: 615px) {
     margin-left:23px;
     width:90.5vw;
  }
  @media screen and (max-width: 560px) {
     margin-left:20px;
     width:93vw;
  }
  @media screen and (max-width: 430px) {
     margin-left:20px;
     width:91vw;
  }
  @media screen and (max-width: 365px) {
     margin-left:20px;
     width:87.5vw;
  }


 }
 .getInvolved__actionBox {
   margin-bottom:10px;
   border: solid 2px #000;
   display:block;
   display:flex;
   justify-content:center;
   align-items:center;
   transition:0.35s;
   padding-right:4px;
   padding-left:4px;
   padding-top:2px;
   padding-bottom:2px;

   background-color:#ffffff;
   cursor:pointer;

   @media screen and (min-width: 920px) {
     width:79px;
     height:34px;
     font-size:0.91em;
   }
   @media screen and (max-width: 920px) {
     width:74px;
     height:33px;
     font-size:0.88em;
   }
   @media screen and (max-width: 750px) {
     width:68px;
     height:32px;
     font-size:0.83em;
   }
   @media screen and (max-width: 615px) {
     width:74px;
     height:33px;
     font-size:0.88em;
   }
   @media screen and (max-width: 515px) {
     width:68px;
     height:32px;
     font-size:0.83em;
   }
 }
 .getInvolved__actionBox:hover  {
   border: solid 2px #15a05c;
   background-color:#ffffff;
   color:#15a05c;
   transition:0.35s;
 }
 .getInvolved__mainText {

   @media screen and (min-width: 1035px) {
        width:380px;
   }
   @media screen and (max-width: 1035px) {
         width:330px;
   }
   @media screen and (max-width: 920px) {
         width:300px;
         font-size:0.97em;
         line-height:1.35;
   }
   @media screen and (max-width: 880px) {
         width:300px;
         font-size:0.95em;
         line-height:1.4;
   }
   @media screen and (max-width: 750px) {
     width:270px;
     font-size:0.92em;
     line-height:1.4;
   }
   @media screen and (max-width: 615px) {
     width:64vw;
     font-size:0.96em;
     line-height:1.4;
   }
   @media screen and (max-width: 515px) {
     width:74vw;
     font-size:0.93em;
     line-height:1.4;
   }
 }
 .getInvolved__leftContainer {
   margin-top:10px;

   @media screen and (min-width: 1085px) {
        margin-left:80px;
   }
   @media screen and (max-width: 1085px) {
        margin-left:45px;
   }
   @media screen and (max-width: 920px) {
        margin-left:35px;
   }
   @media screen and (max-width: 750px) {
        margin-left:25px;
   }
   @media screen and (max-width: 615px) {
        margin-left:35px;
   }
   @media screen and (max-width: 515px) {
        margin-left:25px;
   }
 }
 .getInvolved__mainHeader {
   margin-bottom:-2px;
   cursor:pointer;
   transition:0.35s;

   @media screen and (min-width: 920px) {
      font-size:1.5em;
   }
   @media screen and (max-width: 920px) {
      font-size:1.4em;
   }
   @media screen and (max-width: 750px) {
      font-size:1.3em;
   }
   @media screen and (max-width: 615px) {
     font-size:1.4em;
   }
   @media screen and (max-width: 515px) {
     font-size:1.3em;
   }
 }
 .getInvolved__mainHeader:hover {
   color:#15a05c;
   transition:0.35s;
 }
 .bottomMarginsGetInvolved {
   margin-bottom:18px;
 }
 .veryBottomMarginsGetInvolved {
   margin-bottom:140px;
 }
 .topBottomMarginsGetInvolved {
   margin-bottom:50px;
 }
 .charityBottomSpacing {
   margin-bottom:70px;
 }
 .charity__actionBox {
   margin-bottom:10px;
   border: solid 2px #000;
   display:block;
   display:flex;
   justify-content:center;
   align-items:center;
   transition:0.35s;
   padding-right:4px;
   padding-left:4px;
   padding-top:2px;
   padding-bottom:2px;

   background-color:#ffffff;
   cursor:pointer;

   @media screen and (min-width: 960px) {
     width:115px;
     height:49px;
     font-size:0.88em;
   }
   @media screen and (max-width: 960px) {
     width:110px;
     height:48px;
     font-size:0.84em;
   }
 }
 .charity__actionBox:hover  {
   border: solid 2px #15a05c;
   background-color:#ffffff;
   color:#15a05c;
   transition:0.35s;
 }
 .charity__mainText {
   line-height:1.4;

   @media screen and (min-width: 1210px) {
      width:500px;
   }
   @media screen and (max-width: 1210px) {
       width:460px;
   }
   @media screen and (max-width: 1060px) {
       width:410px;
   }
   @media screen and (max-width: 1030px) {
       width:390px;
       font-size:0.98em;
   }
   @media screen and (max-width: 960px) {
       width:360px;
       font-size:0.96em;
   }
   @media screen and (max-width: 746px) and (min-width: 524px) {
       width:440px;
       font-size:0.96em;
   }
   @media screen and (max-width: 524px) {
       width:78vw;
       font-size:0.96em;
   }

 }
 .charity__hr {
  border:none; height:1px; background-color:#e7e7e7; display:flex; margin-top:7px; margin-bottom:40px;

  @media screen and (min-width: 1210px) {
      margin-left:153px;
      width:950px;
  }
  @media screen and (max-width: 1210px) and (min-width: 1160px) {
      margin-left:153px;
      width:865px;
  }
  @media screen and (max-width: 1160px) and (min-width: 1130px) {
     margin-left:133px;
     width:865px;
  }
  @media screen and (max-width: 1130px) and (min-width: 1035px) {
     margin-left:113px;
     width:840px;
  }
  @media screen and (max-width: 1035px) and (min-width: 960px) {
     margin-left:103px;
     width:750px;
  }
  @media screen and (max-width: 960px) and (min-width: 860px) {
     margin-left:93px;
     width:82vw;
  }
  @media screen and (max-width: 860px) and (min-width: 800px) {
     margin-left:73px;
     width:82vw;
  }
  @media screen and (max-width: 800px) and (min-width: 660px) {
     margin-left:43px;
     width:87vw;
  }
  @media screen and (max-width: 660px) and (min-width: 615px) {
     margin-left:23px;
     width:90vw;
  }
  @media screen and (max-width: 615px) {
     margin-left:23px;
     width:90.5vw;
  }
  @media screen and (max-width: 560px) {
     margin-left:20px;
     width:93vw;
  }
  @media screen and (max-width: 430px) {
     margin-left:20px;
     width:91vw;
  }
  @media screen and (max-width: 365px) {
     margin-left:20px;
     width:87.5vw;
  }



 }
 .charity__marginLeftMobile {
   @media screen and (max-width: 746px) {
      position:relative;
      left:13vw;
   }
   @media screen and (max-width: 560px) {
      position:relative;
      left:9vw;
   }
   @media screen and (max-width: 460px) {
      position:relative;
      left:7vw;
   }
 }
 .charityImage {
    border-radius:6px;
   -webkit-box-shadow:   1px 1.5px 1.5px 1.5px #f0f0f0;
    -moz-box-shadow:    1px 1.5px 1.5px 1.5px #f0f0f0;
    box-shadow:         1px 1.5px 1.5px 1.5px #f0f0f0;

    @media screen and (min-width: 1060px) {
       margin-left:150px;
       width:350px; height:260px;
       margin-right:60px;
    }
    @media screen and (max-width: 1060px) {
       margin-left:115px;
       width:350px; height:260px;
       margin-right:60px;
    }
    @media screen and (max-width: 1030px) {
       margin-left:102px;
       width:350px; height:260px;
       margin-right:60px;
    }
    @media screen and (max-width: 960px) {
       margin-left:93px;
       width:36.6vw; height:26vw;
       margin-right:45px;
    }
    @media screen and (max-width: 860px) {
       margin-left:73px;
       width:36.6vw; height:26vw;
       margin-right:35px;
    }
    @media screen and (max-width: 800px) {
       margin-left:42px;
       width:36.6vw; height:26vw;
       margin-right:35px;
    }
    @media screen and (max-width: 746px) {
       margin-left:42px;
       position:relative;
       left:12vw;
       width:58.6vw; height:46vw;
       margin-right:35px;
    }
    @media screen and (max-width: 400px) {
       margin-left:42px;
       position:relative;
       left:10vw;
       width:58.6vw; height:46vw;
       margin-right:35px;
    }
    @media screen and (max-width: 340px) {
       margin-left:42px;
       position:relative;
       left:8.7vw;
       width:58.6vw; height:46vw;
       margin-right:35px;
    }
 }
 .charityName {
   margin-top:37px;
   margin-bottom:-5px;
   cursor:pointer;
   transition:0.25s;

   @media screen and (min-width: 960px) {
    font-size:1.5em;
   }
   @media screen and (max-width: 960px) {
    font-size:1.4em;
   }
 }
 .charityName:hover {
   color:#15a05c;
   transition:0.25s;
 }
 .charityLabelTop {
   font-weight:800;
   font-size:1.16em;
   margin-top:35px;
   margin-bottom:5px;

    @media screen and (min-width: 1160px) {
       margin-left:153px;
    }
    @media screen and (max-width: 1160px) and (min-width: 1130px) {
       margin-left:133px;
    }
    @media screen and (max-width: 1130px) and (min-width: 1060px) {
       margin-left:113px;
    }
    @media screen and (max-width: 1060px) and (min-width: 960px) {
       margin-left:103px;
    }
    @media screen and (max-width: 960px) and (min-width: 860px) {
       margin-left:93px;
    }
    @media screen and (max-width: 860px) and (min-width: 800px) {
       margin-left:73px;
    }
    @media screen and (max-width: 800px) and (min-width: 660px) {
       margin-left:43px;
    }
    @media screen and (max-width: 660px) and (min-width: 560px) {
       margin-left:23px;
    }
    @media screen and (max-width: 560px) {
       margin-left:20px;
    }
 }
 .donateLabelTop {
  margin-bottom:-2px;
  margin-top:55px;

  @media screen and (min-width: 1160px) {
     margin-left:153px;
     font-size:2.85em;
  }
  @media screen and (max-width: 1160px) and (min-width: 1130px) {
     margin-left:133px;
     font-size:2.7em;
  }
  @media screen and (max-width: 1130px) and (min-width: 1060px) {
     margin-left:113px;
     font-size:2.6em;
  }
  @media screen and (max-width: 1060px) and (min-width: 960px) {
     margin-left:103px;
     font-size:2.55em;
  }
  @media screen and (max-width: 960px) and (min-width: 860px) {
     margin-left:93px;
     font-size:2.4em;
  }
  @media screen and (max-width: 860px) and (min-width: 800px) {
     margin-left:73px;
     font-size:2.2em;
  }
  @media screen and (max-width: 800px) and (min-width: 660px) {
     margin-left:43px;
     font-size:2.2em;
  }
  @media screen and (max-width: 660px) and (min-width: 560px) {
     margin-left:23px;
     font-size:2.15em;
  }
  @media screen and (max-width: 560px) {
     margin-left:20px;
     font-size:2.09em;
  }




  }
 .donatDescriptionTop {
   color:#7d7d7d;
   letter-spacing:0.035em;

 @media screen and (min-width: 1160px) {
     margin-left:155px;
     font-size:1.15em;
     width:650px;
 }
 @media screen and (max-width: 1160px) and (min-width: 1130px) {
    margin-left:135px;
    font-size:1.15em;
    width:650px;
 }
 @media screen and (max-width: 1130px) and (min-width: 1060px) {
    margin-left:115px;
    font-size:1.13em;
    width:650px;
 }
 @media screen and (max-width: 1060px) and (min-width: 960px) {
    margin-left:105px;
    font-size:1.12em;
    width:650px;
 }
 @media screen and (max-width: 960px) and (min-width: 860px) {
    margin-left:95px;
    font-size:1.1em;
    width:650px;
 }
 @media screen and (max-width: 860px) and (min-width: 800px) {
    margin-left:75px;
    font-size:1.08em;
    width:78vw;
 }
 @media screen and (max-width: 800px) and (min-width: 660px) {
    margin-left:45px;
    font-size:1.06em;
    width:85vw;
 }
 @media screen and (max-width: 660px) and (min-width: 615px) {
    margin-left:25px;
    font-size:1.04em;
    width:86vw;
 }
 @media screen and (max-width: 615px) and (min-width: 560px) {
    margin-left:25px;
    font-size:1.04em;
    width:86vw;
 }
 @media screen and (max-width: 560px) {
    margin-left:8px;
    font-size:1.02em;
    width:88vw;
    line-height:1.3;
 }
 @media screen and (max-width: 450px) {
    margin-left:20px;
    font-size:0.98em;
    width:88vw;
    line-height:1.3;
 }
 }
 .charity__bottomContactUsLink {
   margin-top:6px;
 }
 .donatePage__bottomDiv {
   margin-top:12px;
   margin-bottom:150px;

   @media screen and (min-width: 1160px) {
      margin-left:153px;
   }
   @media screen and (max-width: 1160px) and (min-width: 1130px) {
      margin-left:133px;
   }
   @media screen and (max-width: 1130px) and (min-width: 1060px) {
      margin-left:113px;
   }
   @media screen and (max-width: 1060px) and (min-width: 960px) {
      margin-left:103px;
   }
   @media screen and (max-width: 960px) and (min-width: 860px) {
      margin-left:93px;
   }
   @media screen and (max-width: 860px) and (min-width: 800px) {
      margin-left:73px;
   }
   @media screen and (max-width: 800px) and (min-width: 660px) {
      margin-left:43px;
   }
   @media screen and (max-width: 660px) and (min-width: 560px) {
      margin-left:23px;
   }
   @media screen and (max-width: 560px) {
      margin-left:5px;
   }
 }
 .notFound__bodyText {
   margin-bottom:50px;
   line-height:1.31;

   @media screen and (min-width: 770px) {
     width:650px;
   }
   @media screen and (max-width: 770px) and (min-width: 700px) {
      width:610px;
   }
   @media screen and (max-width: 700px) {
      width:85vw;
   }
 }
 .notFound__404 {
   letter-spacing:-0.04em;

   @media screen and (min-width: 600px) {
      font-size:3.55em;
   }
   @media screen and (max-width: 600px) and (min-width: 550px) {
      font-size:3.35em;
   }
   @media screen and (max-width: 550px) {
      font-size:3.15em;
   }
   @media screen and (max-width: 500px) {
      font-size:3em;
   }
 }
 .notFound__pageNotFound {
   margin-left:0px;

   @media screen and (min-width: 600px) {
      font-size:1.5em;
      margin-top:-41px;
      margin-bottom:35px;
   }
   @media screen and (max-width: 600px) and (min-width: 550px) {
      font-size:1.4em;
      margin-top:-41px;
      margin-bottom:35px;
   }
   @media screen and (max-width: 550px) {
      font-size:1.43em;
      margin-top:-41px;
      margin-bottom:35px;
   }
   @media screen and (max-width: 500px) {
      font-size:1.43em;
      margin-top:-32px;
      margin-bottom:27px;
   }
 }
 .notFound__topMargins {
   left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  //  position:relative;
  //
  //    left:27vw;
  //    margin-left:auto;
  //    margin-right:auto;
  // width:100vw;
   margin-top:50px;
   margin-bottom:130px;

   @media screen and (max-width: 1000px) and (min-width: 930px) {
     left: 52%;
   }
   @media screen and (max-width: 930px) and (min-width: 700px) {
     left: 52%;
   }
   @media screen and (max-width: 700px) {
     position:relative;
     right:200px;
     margin-left:13px;
   }
   @media screen and (max-width: 500px) {
     position:relative;
     right:200px;
     margin-left:9px;
   }
 }
 .notFound__marginBottom {
   height:260px;
 }
 .notFound__marginTop {
   height:170px;
 }
 .notfound__link {
   margin-top:16px;
   transition:0.25s;


 }
 .notfound__link:hover {
   color:#000;
   transition:0.25s;
 }
 .notfound__linkIn {
   margin-top:16px;

   transition:0.25s;
 }
 .notfound__linkIn:hover {
   color:#000;
   transition:0.25s;
 }
 .marginBelowInputNotFound {
   margin-bottom:25px;
 }
 .signupMarginTop {
   height:40px;
 }
 .heightSignup {

 }
 .sort__sortByButton {
   // border: 1px solid #a1a1a1;
   border-radius:3px;
   margin-top:2px;
   width:110px;
   height:45px;
   z-index:1000 !important;
   margin-bottom:2px;
   margin-left:8px;
   cursor:pointer;
   position:relative;
   z-index:3000 !important;
 }
 .dropdown {
     position: relative;
     display: inline-block;
 }

 .dropdown-contentBase {
     display:none;
     position:absolute;
     z-index:10000 !important;;
 }

 .dropdown-content1Base {
     position: absolute;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 10000 !important;;
     display:block;
     margin-left:-2px;
     border-radius:2px;
     margin-top:-2px;
 }


 .dropdown-content {
     display:none;
     position:absolute;
     z-index:10000 !important;;
 }

 .dropdown-content1 {
     position: absolute;
     min-width: 223px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 10000 !important;;
     display:block;
     margin-left:-2px;
     border-radius:2px;
     margin-top:17px;
 }

 .dropdown-content a {
     text-decoration: none;
 }

 .dropdown-content a:hover { background-color: #f1f1f1 }


 .dropdown-contentTags {
     display:none;
     position:absolute;
     z-index:10000 !important;;
 }

 .dropdown-content1Tags {
     position: absolute;
     min-width: 383px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 10000 !important;;
     display:block;
     margin-left:-2px;
     border-radius:2px;
     margin-top:18px;
 }
 .dropdown-contentTags a {
     text-decoration: none;
 }

 .dropdown-contentTags a:hover { background-color: #f1f1f1 }

 .dropdown-content__innerLargerMargins {
   background-color:#fff;
   display:flex;
 }

.dropdown-content__innerMargins {
  margin-left:25px;
  margin-top:15px;
  margin-bottom:14px;
  position:relative;
  z-index:10000 !important;
}
.sort__newestContainer {
width:130px;
}
.sort__marginLeft {
  // margin-left:18px;
  width:99vw;
  display:flex;
  margin-bottom:-58px;
  top:-36px;
  margin-left:0px;
  position:relative;
  z-index:10000 !important;

  @media screen and (max-width: 845px) {
  top:12px;
  }
}
.sort__buttonMarginLeft {
  position:relative;
  left:83.1vw;
  float:right;

  @media screen and (max-width: 1150px) {
  left:82.1vw;
  }
  @media screen and (max-width: 1075px) {
  left:81.1vw;
  }
  @media screen and (max-width: 930px) {
  left:80.1vw;
  }
  @media screen and (max-width: 845px) {
  left:50.5vw;
  }
  @media screen and (max-width: 815px) {
  left:48.5vw;
  }
  @media screen and (max-width: 790px) {
  left:53.5vw;
  }
  @media screen and (max-width: 765px) {
  left:51.5vw;
  }
  @media screen and (max-width: 725px) {
  left:49.5vw;
  }
  @media screen and (max-width: 695px) {
  left:47.5vw;
  }
  @media screen and (max-width: 670px) {
  left:45.5vw;
  }
  @media screen and (max-width: 640px) {
  left:41.5vw;
  }
  @media screen and (max-width: 610px) {
  left:38.5vw;
  }
  @media screen and (max-width: 498px) {
  left:34.5vw;
  }
  @media screen and (max-width: 465px) {
  left:31.5vw;
  }
  @media screen and (max-width: 445px) {
  left:29.5vw;
  }
  @media screen and (max-width: 435px) {
  left:25.5vw;
  }
  @media screen and (max-width: 415px) {
  left:22.5vw;
  }
  @media screen and (max-width: 400px) {
  left:18.5vw;
  }
  @media screen and (max-width: 375px) {
  left:13.5vw;
  }
  @media screen and (max-width: 355px) {
  left:10.5vw;
  }
  @media screen and (max-width: 340px) {
  left:5.5vw;
  }
}



.sort__marginLeftExplore {
  // margin-left:18px;
  width:99vw;
  display:flex;
  margin-bottom:-58px;
  top:-36px;
  margin-left:0px;
  position:relative;
  z-index:10000 !important;

  // @media screen and (max-width: 845px) {
  // top:12px;
  // }
}
.sort__buttonMarginLeftExplore {
  position:relative;
  left:83.1vw;
  float:right;

  @media screen and (max-width: 1150px) {
  left:82.1vw;
  }
  @media screen and (max-width: 1075px) {
  left:81.1vw;
  }
  @media screen and (max-width: 930px) {
  left:80.1vw;
  }
  @media screen and (max-width: 845px) {
  left:79.5vw;
  }
  @media screen and (max-width: 815px) {
  left:78.5vw;
  }
  @media screen and (max-width: 790px) {
  left:78.5vw;
  }
  @media screen and (max-width: 765px) {
  left:78.5vw;
  }
  @media screen and (max-width: 725px) {
  left:78.5vw;
  }
  @media screen and (max-width: 695px) {
  left:76.5vw;
  }
  @media screen and (max-width: 670px) {
  left:75.5vw;
  }
  @media screen and (max-width: 640px) {
  left:73.5vw;
  }
  @media screen and (max-width: 610px) {
  left:77.5vw;
  }
  @media screen and (max-width: 498px) {
  left:75.5vw;
  }
  @media screen and (max-width: 465px) {
  left:73.5vw;
  }
  @media screen and (max-width: 445px) {
  left:71.5vw;
  }
  @media screen and (max-width: 435px) {
  left:68.5vw;
  }
  @media screen and (max-width: 415px) {
  left:66.5vw;
  }
  @media screen and (max-width: 400px) {
  left:65.5vw;
  }
  @media screen and (max-width: 375px) {
  left:65.5vw;
  }
  @media screen and (max-width: 355px) {
  left:65.5vw;
  }
  @media screen and (max-width: 340px) {
  left:64.5vw;
  }
}



.sort__marginLeftProfile {
  // margin-left:18px;
  width:99vw;
  display:flex;
  margin-bottom:-49px;
  top:-25px;
  margin-left:0px;
  position:relative;
  z-index:10000 !important;

  // @media screen and (max-width: 845px) {
  // top:12px;
  // }
}
.sort__buttonMarginLeftProfile {
  position:relative;
  left:750px;
  float:right;

  @media screen and (max-width: 990px) {
  left:69.1vw;
  }
  @media screen and (max-width: 930px) {
  left:68.1vw;
  }
  @media screen and (max-width: 855px) {
  left:74.5vw;
  }
  @media screen and (max-width: 845px) {
  left:72.5vw;
  }
  @media screen and (max-width: 815px) {
  left:71.5vw;
  }
  @media screen and (max-width: 790px) {
  left:76.5vw;
  }
  @media screen and (max-width: 765px) {
  left:75.5vw;
  }
  @media screen and (max-width: 725px) {
  left:74.5vw;
  }
  @media screen and (max-width: 695px) {
  left:76.5vw;
  }
  @media screen and (max-width: 670px) {
  left:75.5vw;
  }
  @media screen and (max-width: 640px) {
  left:73.5vw;
  }
  @media screen and (max-width: 610px) {
  left:72.5vw;
  }
  @media screen and (max-width: 498px) {
  left:70.5vw;
  }
  @media screen and (max-width: 465px) {
  left:69.5vw;
  }
  @media screen and (max-width: 445px) {
  left:68.5vw;
  }
  @media screen and (max-width: 435px) {
  left:67.5vw;
  }
  @media screen and (max-width: 415px) {
  left:65.5vw;
  }
  @media screen and (max-width: 400px) {
  left:64.5vw;
  }
  @media screen and (max-width: 375px) {
  left:63.5vw;
  }
  @media screen and (max-width: 355px) {
  left:62.5vw;
  }
  @media screen and (max-width: 340px) {
  left:61.5vw;
  }
}
 .sort__mainIcon {
   float:left;
   margin-right:9px;
   color:#868686;
   font-size:1.1em;

   @media screen and (max-width: 550px) {
   font-size:1.08em;
   margin-right:6px;
   }
 }
 .sort__mainText {
   color:#868686;
   font-size:1.08em;
   -webkit-touch-callout: none;
       -webkit-user-select: none;
        -khtml-user-select: none;
          -moz-user-select: none;
           -ms-user-select: none;
               user-select: none;

@media screen and (max-width: 550px) {
font-size:1.03em;
}

 }
 .sort__greenIcon {
 color:#15a05c;
 cursor:default;
 float:left;
 margin-right:10px;
 margin-bottom:15px;
 font-size:0.9em;
 margin-top:2.5px;
 }
 .sort__greenIconPop {
 color:#15a05c;
 cursor:default;
 float:left;
 margin-right:10px;
 margin-bottom:15px;
 font-size:0.95em;
 margin-top:2px;
 }
 .sort__greenText {
   color:#15a05c;
   cursor:default;
   -webkit-touch-callout: none;
       -webkit-user-select: none;
        -khtml-user-select: none;
          -moz-user-select: none;
           -ms-user-select: none;
               user-select: none;
 }
.sort__popularIcon {
  transition:0.2s;
float:left;
margin-right:10px;
margin-bottom:15px;
font-size:0.95em;
margin-top:2px;
color:#a1a1a1;
cursor:pointer;
}
.sort__popularText {
color:#969696;
cursor:pointer;
-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.sort__newestIcon {
float:left;
margin-right:10px;
margin-bottom:15px;
font-size:0.9em;
margin-top:2.5px;
color:#a1a1a1;
cursor:pointer;
}
.sort__newestText {
color:#969696;
cursor:pointer;
-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.sort__oldestIcon {
float:left;
margin-right:10px;
margin-bottom:15px;
font-size:0.9em;
margin-top:2.5px;
color:#a1a1a1;
cursor:pointer;
}
.sort__oldestText {
color:#969696;
cursor:pointer;
-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.title__grey {
  color:#5a5a5a;
  transition:0.2s;
}
.title__grey:hover {
  color:#15a05c;
  transition:0.2s;
}
.contact__hrTop {
  height:1px;border:none;color:#dddddd;background-color:#dddddd; margin-top:14px; width:473px; margin-left:0px; margin-right:12px;

  @media screen and (max-width: 635px) {
    width:75.4vw;
  }
}
.contact__hrBottom {
  height:1px;border:none;color:#dddddd;background-color:#dddddd; margin-top:20px; margin-bottom:16px; width:473px; margin-left:0px; margin-right:12px;

  @media screen and (max-width: 635px) {
    width:75.4vw;
  }
}
.contactPage__firstDiv {
  margin-bottom:35px;
  margin-left:-1px;
}
.contact__textArea {
  color:#7d7d7d;
  font-size:0.99em;
  letter-spacing:-0em;
  word-spacing:0.02em;
  margin-top:16px;
  padding-left:16px;
  padding-bottom:16px;
  padding-right:14px;
  padding-top:14px;
  border-radius:4px;
  border:0.5px solid #dedede;
  margin-bottom:12px;
  width:429px;
  height:150px;
  resize:none;

  @media screen and (max-width: 635px) {
    width:69.4vw;
    font-size:0.97em;
  }
  @media screen and (max-width: 535px) {
    font-size:0.9em;
    width:68.4vw;
  }
  @media screen and (max-width: 375px) {
    font-size:0.9em;
    width:66.4vw;
  }
}
.feedback__leftContainer {
  margin-top:35px;
  margin-left:42px;
  margin-right:30px;

  @media screen and (max-width: 621px) {
  margin-left:8vw;
  }
  @media screen and (max-width: 430px) {
  margin-left:26px;
  }
}
.contact__firstLastNameInputs {
  height:38px;
  width:210px;
  font-size:1.03em;
  color:#7d7d7d;
  padding-left:13px;
  border-radius:2px;
  border:0.5px solid #dedede;
  cursor:default;
  margin-bottom:8px;
  margin-top:14px;
//   -webkit-user-select: none;
// -moz-user-select: none;
// -ms-user-select: none;
// -o-user-select: none;
// user-select: none;
}

.contact__topTitleLogin {
  font-weight:600;
  font-size:1.75em;
  margin-bottom:-2px;

  @media screen and (max-width: 375px) {
  font-size:1.63em;
  margin-bottom:-5px;
  }

}
.contact__headerInput {
  color:#7d7d7d;
  height:42px;
  width:445px;
  font-size:1.03em;
  padding-left:13px;
  border-radius:2px;
  border:0.5px solid #dedede;
  cursor:default;
  margin-bottom:8px;
  margin-top:14px;
//   -webkit-user-select: none;
// -moz-user-select: none;
// -ms-user-select: none;
// -o-user-select: none;
// user-select: none;

@media screen and (max-width: 635px) {
  width:72vw;
  font-size:1em;
}
@media screen and (max-width: 535px) {
  font-size:0.93em;
  width:72vw;
}
}
.contact__smallHeader {
  clear:both;
  color:#7d7d7d;
  font-size:0.93em;
  margin-bottom:-1px;
  margin-top:35px;
}
.contact__smallHr {
  width:469px;
  height:1px;border:none;color:#cccccc;background-color:#cccccc;
  margin-left:0px;
  margin-bottom:-8px;

  @media screen and (max-width: 605px) {
    width:75vw;
  }

}
.contact__emailInput {
  height:38px;
  width:300px;
  font-size:1.03em;
  color:#7d7d7d;
  padding-left:13px;
  border-radius:2px;
  border:0.5px solid #dedede;
  cursor:default;
  margin-bottom:8px;
  margin-top:14px;
//   -webkit-user-select: none;
// -moz-user-select: none;
// -ms-user-select: none;
// -o-user-select: none;
// user-select: none;

@media screen and (max-width: 400px) {
  width:75vw;
}
@media screen and (max-width: 355px) {
  width:208px;
}

}
.contact__positioningErrorBox {
  clear:both;
  display:flex;
  justify-content:center;
  margin-top:-6px;
  margin-bottom:-9px;
}
.contact__descriptionMessageMaxCharacters {
  color:#7d7d7d;
  margin-left:334px;
  position:relative;
  margin-top:194px;
  font-size:0.73em;
  display:block;

  @media screen and (max-width: 635px) {
    margin-left:0px;
    left:53vw;
  }
  @media screen and (max-width: 490px) {
    margin-left:0px;
    left:47.8vw;
  }
  @media screen and (max-width: 440px) {
    margin-left:0px;
    left:45.2vw;
  }
  @media screen and (max-width: 420px) {
    margin-left:0px;
    left:43.7vw;
  }
  @media screen and (max-width: 385px) {
    margin-left:0px;
    left:39.7vw;
  }
  @media screen and (max-width: 350px) {
    margin-left:0px;
    left:36.7vw;
  }
}
.contact__link {
  display:inline-block;
}
.contact__afterSubmitMessage {
  width:450px;
  line-height:1.45;
  margin-top:14px;
}
.contact__successBox {
    opacity:0.8;
    color:#fff;
    background-color:#15a05c;
    // height:59px;
    align-items: center;
    width:305px;
    padding-left:18px;
    padding-right:18px;
    padding-bottom:11px;
    line-height:1.55;
    border-radius:3px;
    font-size:0.83em;
    margin-top:17px;
    margin-bottom:5px;

    @media screen and (max-width: 470px) {
      width:64vw;
    }

}
.feedback__successBox {
    opacity:0.8;
    color:#fff;
    background-color:#15a05c;
    height:40px;
    align-items: center;
    width:205px;
    padding-left:18px;
    padding-right:18px;
    line-height:1.55;
    border-radius:3px;
    font-size:0.83em;
    margin-top:17px;
    margin-bottom:5px;
}
.contact__successBoxInnerMargins {
padding-top:10px;

}
.feedback__select {
  border:none;
}
.feedback__greenIconPop {
color:#15a05c;
cursor:default;
float:left;
margin-right:4px;
margin-bottom:15px;
font-size:0.95em;
margin-top:5px;
}
.feedback__popularIcon {
 transition:0.2s;
float:left;
margin-right:4px;
margin-bottom:15px;
font-size:0.95em;
margin-top:5px;
color:#a1a1a1;
cursor:pointer;
// color:#000;

}
.feedback__sortByButton {
  // border: 1px solid #a1a1a1;
  border-radius:3px;
  margin-top:10px;
  width:120px;
  height:45px;
  z-index:1000 !important;;
  margin-bottom:2px;
  margin-left:8px;
  cursor:pointer;
  display:block;

}
.feedback__marginLeft {
  margin-left:-5px;
  margin-top:-12px;
  position:relative;
  z-index:1000 !important;;
}
.feedback__mainText {
  color:#868686;
  font-size:1.03em;

  -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.feedback__mainIcon {
  float:left;
  margin-right:9px;
  color:#868686;
  font-size:1.08em;
}
.feedback__hrBottom {
  height:1px;border:none;color:#dddddd;background-color:#dddddd; margin-top:20px; margin-bottom:36px; width:473px; margin-left:0px; margin-right:12px;

  @media screen and (max-width: 635px) {
    width:75.4vw;
  }
}
.feedback__rightCheckmark {
  margin-left:36px;
  margin-top:0px;
}
.feedback__signUpPageMarginRight {
  margin-left:-10px;
  margin-top:-3px;
  border:1px solid #dddddd;
  background-color:#fff;
  opacity: 0;
  height: 0;
  width: 0;
}
.feedback__inputSignupPage {
  margin-top:0px; margin-left:36px;
}
.feedback__checkBoxesMarginLeft {
  margin-left:-8px;
  float:left;
}
.feedback__subtitleHr {
  height:1px;border:none;color:#dddddd;background-color:#dddddd; width:473px; margin-left:0px; margin-top:-8px; margin-bottom:23px;

  @media screen and (max-width: 635px) {
    width:75.4vw;
  }
}
.feedback__messageMarginTop {
  margin-top:30px;
}
.feedback__popularText {
  color:#000;
  cursor:pointer;
  -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.feedback__popularContainer {
  width:170px;
}
.feedbackContainersMarginTop {
  margin-top:12px;
}
.feedbackContainersMarginTopSpecial {
  margin-top:12px;

  @media screen and (max-width: 420px) {
    margin-top:47px;
  }
}
.feedback_areasMarginTop {
  margin-top:35px;
}
.feedback__messageRightSubtitle {
  color:#000;
  font-size:0.97em;
  margin-top:33px;
  margin-bottom:-8px;
}
.feedbackCheckmark_container {
  display: block;
  position: relative;
  margin-bottom: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.feedbackCheckmark_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.feedbackCheckmark {
  position: absolute;
  height: 15px;
  width: 15px;
  margin-left:8px;
  margin-top:1px;
  background-color: #fff;
  border:1px solid #a1a1a1;
  opacity:0.8;
  border-radius:3px;
}
.feedbackCheckmark_container input:checked ~ .feedbackCheckmark {
  background-color: #15a05c;
  border-color: #15a05c;
}
.feedbackCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}
.feedbackCheckmark_container input:checked ~ .feedbackCheckmark:after {
  display: block;
}
.feedbackCheckmark_container .feedbackCheckmark:after {
  width: 2.5px;
  height: 7px;
  margin-left:36%;
  margin-top:2px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.feedback__firstDiv {
  margin-bottom:-6px;
  margin-left:-1px;
  width:470px;
  line-height:1.45;
  margin-bottom:8px;

  @media screen and (max-width: 635px) {
    width:75.4vw;
  }
}
.contact__firstDiv {
  margin-bottom:-6px;
  margin-left:-1px;
  width:470px;
  line-height:1.45;
  margin-bottom:8px;

  @media screen and (max-width: 635px) {
    width:75.4vw;
  }
}
.contactPage__lastDiv {
  font-size:1em;

  @media screen and (max-width: 635px) {
    font-size:0.95em;
  }
}
.notFound__mainInput {
  height:45px;
  border:1px solid #e1e1e1;
  border-radius:3px 0px 0px 3px;
  margin-right:-11px;
  margin-bottom:25px;
  display:flex;
  overflow: scroll;

  @media screen and (min-width: 770px) {
      width:360px;
      font-size:0.98em;
      padding-left:15px;
      padding-right:15px;
      margin-left:74px;
  }
  @media screen and (max-width: 770px) and (min-width: 700px) {
      width:360px;
      font-size:0.98em;
      padding-left:15px;
      padding-right:15px;
      margin-left:60px;
  }
  @media screen and (max-width: 700px) {
      width:50vw;
      font-size:0.98em;
      padding-left:15px;
      padding-right:15px;
      margin-left:44px;
  }
  @media screen and (max-width: 585px) {
      width:60vw;
      font-size:0.98em;
      padding-left:15px;
      padding-right:15px;
      margin-left:5px;
  }
  @media screen and (max-width: 545px) {
      width:60vw;
      font-size:0.98em;
      padding-left:15px;
      padding-right:15px;
      margin-left:2px;
  }
  @media screen and (max-width: 360px) {
      width:56vw;
      font-size:0.98em;
      padding-left:15px;
      padding-right:15px;
      margin-left:2px;
  }
  @media screen and (max-width: 340px) {
      width:54vw;
      font-size:0.98em;
      padding-left:15px;
      padding-right:15px;
      margin-left:2px;
  }
}
.notFound__loginButton {
    color:#fff;
    letter-spacing:0.025em;
    background-color:#15a05c;
    border:1px solid #15a05c;
    align-items:center;
    display:flex;
    justify-content: center;
    opacity:0.8;
    width:85px;
    height:49px;
    font-size:0.8em;
    border-radius:0px 3px 3px 0px;
    cursor:pointer;
    margin-bottom:3px;
}
.privacyPolicy__body {
  width:563px;
  display:block;
  margin-top:-12px;
  margin-bottom:50px;

  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  @media screen and (max-width: 700px) {
    width:75.4vw;
  }
}
.privacyPolicy__hrTop {
  height:1px;border:none;color:#dddddd;background-color:#dddddd; margin-top:14px; width:563px; margin-left:0px; margin-right:12px;

  @media screen and (max-width:700px) {
  width:76.3vw;
  }
}
.feedback__hrTop {
  height:1px;border:none;color:#dddddd;background-color:#dddddd; margin-top:14px; width:473px; margin-left:0px; margin-right:12px;

  @media screen and (max-width: 635px) {
    width:75.4vw;
  }
}
.marginBottomMediaDesign {
  @media screen and (max-width: 501px) {
    margin-bottom:45px;
  }
}
.marginBottomMediaEaseOfUse {
  @media screen and (max-width: 501px) {
    display:block;
    clear:both;
    height:65px;
  }
}
.feedback__ratingFloatLeft {
  @media screen and (min-width: 421px) {
    float:left;
  }
  @media screen and (max-width: 420px) {
    clear:both;
  }
}
.getInvolved___displayNoneWhenSmall {
  @media screen and (max-width: 615px) {
    color:#fff;
    background-color:#fff;
  }
}
.notFound__otherPagesToCheckOutMobile {

  @media screen and (min-width: 550px) {
    float:left;
    margin-right:13px;
  }
  @media screen and (max-width: 550px) {
    clear:both;
    margin-bottom:-8px;
  }
}
.admin__buttonRej {
  height:31px;
  width:120px;
  background-color:#c6413b;
  color:#fff;
  font-size:0.8em;
  display:flex;
  justify-content: center;
  align-items:center;
  border-radius:3px;
  cursor:pointer;
  opacity:0.8;
  float:left;
  margin-right:20px;
  margin-top:-19px;
  margin-bottom:20px;
}
.admin__buttonPub {
  height:31px;
  width:120px;
  background-color:#15a05c;
  color:#fff;
  font-size:0.8em;
  display:flex;
  justify-content: center;
  align-items:center;
  border-radius:3px;
  cursor:pointer;
  opacity:0.8;
  float:left;
  margin-right:20px;
}
.adminTopSpacing {
  height:20px;
}
.admin__input {
padding-left:10px;
width:270px;
height:33px;
margin-bottom:20px;
}
.admin__textarea {
width:270px;
height:105px;
resize:none;
}
.admin__bodyBox {
  border: 1px solid #aa2266;
}
@-ms-viewport{
  width: device-width;
}
.privacyP__leftContainer {
  margin-top:35px;
  margin-left:42px;
  margin-right:30px;

  @media screen and (max-width: 500px) {
  margin-left:26px;
  }
}
.privacyP__mobileView {
 display:block;
 border-radius:5px;
 margin-top:8vw;
 margin-bottom:8vw;
 background-color:#fff;

  @media screen and (max-width:700px) {
     width:91%;
  }

}
