.login__rightSubtitle {
  color:#000;
  font-size:0.97em;
  margin-top:15px;
  margin-bottom:-8px;
}
.login__mainAuthorTextArea {
  height:38px;
  font-size:1.05em;
  padding-left:18px;
  border-radius:2px;
  border:0.5px solid #dedede;
  cursor:default;
  margin-bottom:8px;
  margin-top:14px;
//   -webkit-user-select: none;
// -moz-user-select: none;
// -ms-user-select: none;
// -o-user-select: none;
// user-select: none;
}
.login__topTitleLogin {
font-weight:600;
font-size:1.65em;
margin-bottom:4px;

@media screen and (max-width:405px) {
font-size:1.53em;
}
}
.login__smalllBelowThings {
  @media screen and (max-width:405px) {
  font-size:0.97em;
  }
}
.login__topTitleSignup {
color:#acacac;
}
.login__loginButton {
  display:block;
  color:#fff;
  letter-spacing:0.025em;
  background-color:#15a05c;
  border:1px solid #15a05c;
  align-items:center;
  opacity:0.8;
  width:85px;
  height:35px;
  font-size:0.8em;
  border-radius:4px;
  cursor:pointer;
  margin-top:-4px;
  margin-bottom:3px;
}
.login__hrTop {
  height:1px;border:none;color:#dddddd;background-color:#dddddd; margin-top:14px; width:313px; margin-left:0px;

  @media screen and (max-width:405px) {
  width:76.3vw;
  }
}
.login__hrBottom {
  height:1px;border:none;color:#dddddd;background-color:#dddddd; margin-top:20px; margin-bottom:-18px; width:313px; margin-left:0px;

  @media screen and (max-width:405px) {
  width:76.3vw;
  }
}
.login__hrBottomFP {
  height:1px;border:none;color:#dddddd;background-color:#dddddd; margin-top:30px; margin-bottom:-18px; width:313px; margin-left:0px;
}
.forgotPasswordBottomSpacing {
  height:10px;
}
.forgotPasswordTopMessage {
  margin-top:-5px;
  margin-bottom:23px;
  width:313px;
}
.login__forgotPasword {
  display:inline-block;
  color:#15a05c;
}
.feedback__hrTopFP {
  height:1px;border:none;color:#dddddd;background-color:#dddddd; margin-top:14px; width:313px; margin-left:0px; margin-right:12px;
}
.fp__send {
  background-color:#15a05c;
  opacity:0.8;
  color:#fff;
  border-radius:3px;
  font-size:0.83em;
  letter-spacing:0.033em;
  display:flex;
  justify-content:center;
  align-items:center;
  height:35px;
  width:70px;
  margin-top:8px;
  margin-bottom:-4px;
  cursor:pointer;
}
.login__errorBox {
  opacity:0.8;
  color:#fff;
  background-color:#c9332c;
  width:313px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:3px;
  font-size:0.83em;
  margin-top:2px;
  margin-bottom:5px;

  @media screen and (min-width:405px) {
    height:48px;
  }
  @media screen and (max-width:405px) {
  width:76.1vw;
  padding-top:4px;
  padding-bottom:4px;
  }
}
.login__veryBottomSpacing {
  height:22px;
}
.login__leftContainer {
  margin-top:35px;
  margin-left:42px;
  margin-right:30px;

  @media screen and (max-width:435px) {
    margin-left:28px;
  }
  @media screen and (max-width:365px) {
    margin-left:24px;
  }
  @media screen and (max-width:325px) {
    margin-left:23px;
  }
}
.login__mobileView {
 display:block;
 border-radius:5px;
 margin-top:8vw;
 margin-bottom:8vw;
 background-color:#fff;

  @media screen and (max-width:415px) {
     width:88.5%;
     margin-left:7px;
  }
  @media screen and (max-width:380px) {
     width:85%;
     margin-left:0px;
  }
  // @media screen and (max-width:380px) {
  //    width:88%;
  // }

}
.contact__mobileView {
 display:block;
 border-radius:5px;
 margin-top:8vw;
 margin-bottom:8vw;
 background-color:#fff;

  @media screen and (max-width:605px) {
     width:91%;
  }

}
.login__background {
  display:flex;
  margin-left:-8px;
  right:-5px;
   justify-content: center;


  margin-top:25px;
  width:101.3vw;
  background: #348F50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  @media screen and (max-width:580px) {
    width:102vw;
  }
  @media screen and (max-width:380px) {
    width:104vw;
  }
  @media screen and (max-width:340px) {
    width:106vw;
  }

  margin-bottom:-50px;
}
.cursorDefault {
  cursor:default;
//   -webkit-user-select: none;
// -moz-user-select: none;
// -ms-user-select: none;
// -o-user-select: none;
// user-select: none;
}
.signupTermsLink {
  color:#15a05c;
  cursor:pointer;
}
.inputSignupPage {
  margin-top:0px; margin-right:5px;
}
.signUpPageMarginRight {
  margin-left:7px;
  margin-top:-4px;
  border:1px solid #dddddd;
  background-color:#fff;
  opacity: 0;
  height: 0;
  width: 0;
}
.checkmark_container {
  display: block;
  position: relative;
  margin-bottom: 4px;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}
.checkmark_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  height: 13px;
  width: 13px;
  margin-left:8px;
  margin-top:1px;
  background-color: #fff;
  border:1px solid #15a05c;
  opacity:0.8;
  border-radius:3px;

  @media screen and (max-width:360px) {
  margin-top:3px;
  }
}
.checkmark_container input:checked ~ .checkmark {
  background-color: #15a05c;
  border-color: #15a05c;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark_container input:checked ~ .checkmark:after {
  display: block;
}
.checkmark_container .checkmark:after {
  width: 1.6px;
  height: 6px;
  margin-left:40%;
  margin-top:2px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.signup__errorMarginTop {
  margin-top:18px;
}
.signup__passwordRed {
  border:0.5px solid #c9332c;
  border-color:#c9332c;
  opacity:0.8;
}
.signup__checkboxRed {
  border-color:#c9332c;
}
.signup__redLabel {
  color:#c9332c;
}
.signup__belowSubmitButtonMarginBottom {
 margin-bottom:-1px;
}
.fp__positioningErrorBox {
  clear:both;
  display:flex;
  justify-content:center;
  margin-top:-6px;
  margin-left:-9px;
  margin-bottom:-1px;
}
.login__mainAuthorTextArea {
  height:46px;
  width:300px;
  font-size:1.05em;
  padding-left:13px;
  border-radius:4px;
  border:0.5px solid #dedede;
  cursor:default;
  margin-bottom:8px;
  margin-top:14px;
//   -webkit-user-select: none;
// -moz-user-select: none;
// -ms-user-select: none;
// -o-user-select: none;
// user-select: none;

@media screen and (max-width:405px) {
width:73.3vw;
}
}
.login__mainAuthorTextAreaError {
  height:41px;
  width:300px;
  font-size:1.05em;
  padding-left:10px;
  border-radius:2px;
  border:0.5px solid #c9332c;
  cursor:default;
  margin-bottom:8px;
  margin-top:14px;
  opacity:0.8;
//   -webkit-user-select: none;
// -moz-user-select: none;
// -ms-user-select: none;
// -o-user-select: none;
// user-select: none;

@media screen and (max-width:405px) {
width:73.3vw;
}
}
.signup__loginWithGoogle {
  border-radius:5px;
  height:55px;
  width:312px;
  align-items:center;
  display:flex;
  justify-content: center;
  background-color: #DB4C3A;
  cursor:pointer;
  margin-bottom:12px;

  @media screen and (max-width:405px) {
  width:76.3vw;
  }
}
.signup__loginWithTwitter {
  border-radius:5px;
  height:55px;
  width:312px;
  align-items:center;
  display:flex;
  justify-content: center;
  background-color: #01abef;
  cursor:pointer;
  margin-bottom:12px;

  @media screen and (max-width:405px) {
  width:76.3vw;
  }
}
.signup__loginWithGithub {
  border-radius:5px;
  height:55px;
  width:312px;
  align-items:center;
  display:flex;
  justify-content: center;
  background-color: #444444;
  cursor:pointer;
  margin-bottom:12px;

  @media screen and (max-width:405px) {
  width:76.3vw;
  }
}
.signup__loginWithGoogleText {
  color:#fff;
  // font-weight:bold;
  // font-family: Arial;
  letter-spacing:0.032em;
  font-size:0.93em;

  @media screen and (max-width:355px) {
    font-size:0.88em;
  }
}
.signup__loginWithGoogleIcon {
  color:#fff;
  font-size:1.45em;
  margin-right:23px;

  @media screen and (max-width:355px) {
    font-size:1.35em;
  }
}
.login__mobileInnerPadding {
  @media screen and (max-width:375px) {
    margin-left:-4px;
  }
  @media screen and (max-width:340px) {
    margin-left:-7px;
  }
}
.signup__privacyPolicyMargins {
  margin-top:15px;
  margin-bottom:7px;
  font-size:0.98em;

  @media screen and (max-width:360px) {
    width:250px;
    line-height:1.42;
  }
}
.signupPrivacyBr {
  @media screen and (min-width:360px) {
  display:none;
  }
}
.signup__recaptchaPositioning {
  width:300px;
  margin-top:12px;

  transform:scale(1.02);-webkit-transform:scale(1.02);transform-origin:0 0;-webkit-transform-origin:0 0;

  margin-bottom:8px;

  @media screen and (max-width:405px) {
  width:73.3vw;
  transform:scale(0.80);-webkit-transform:scale(0.80);transform-origin:0 0;-webkit-transform-origin:0 0;
  margin-bottom:-7px;
  }

}




.form-style-7{
	max-width:400px;
	margin:50px auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}
.form-style-7 ul{
	list-style:none;
	padding:0;
	margin:0;
}
.form-style-7 li{
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
}
.form-style-7 li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.form-style-7 li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #B9B9B9;
	font-size: 14px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus
{
}
.form-style-7 li > span{
	background: #F3F3F3;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.form-style-7 textarea{
	resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
	background: #2471FF;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #5994FF;
	border-radius: 3px;
	color: #D2E2FF;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
	background: #6B9FFF;
	color:#fff;
}
