// @mixin tooltipWidth($num) {
//      width: $num;
//  }
//
// .width100 {
// @include tooltipWidth(100px);
// }

.topTooltip {
  padding-bottom:-8px;
  margin-bottom:-8px;
  margin-left:-51px;
}

.topTooltip .topTooltiptext {
  visibility: hidden;
  background-color: #ffffff;
  color:#000000;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  margin-top:-400px;   /*-485px;*/
  margin-left:-63px;
border: 1px solid #dcdcdc;
  transition-delay: 0.8s;
  z-index:5;

 -webkit-box-shadow: 0px 2px 1px -1px #d2d2d2;
 -moz-box-shadow:    0px 2px 1px -1px #d2d2d2;
 box-shadow:         0px 2px 1px -1px #d2d2d2;
}
.topTooltip .topTooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  z-index:5;

}
.topBelowTooltipborder {
  visibility:hidden;
  content: "";
  position: absolute;
  margin-top:-81px;   /* 64.8% */
  margin-left:48px;
  border-width: 8px;
  border-style: solid;
  border-color: #fff transparent transparent  transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:6;
}
.topTooltipborder {
  visibility:hidden;
  content: "";
  position: absolute;
  margin-top:-82px;   /* 64.8% */
  margin-left:46px;
  border-width: 10px;
  border-style: solid;
  border-color: #dcdcdc transparent transparent transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:4;
}

.topTooltip:hover .topTooltipborder {
visibility: visible;
  transition-delay: 0.5s;
}
.topTooltip:hover .topBelowTooltipborder {
visibility: visible;
  transition-delay: 0.5s;
}
.topTooltip:hover .topTooltiptext {
  visibility: visible;
  transition-delay: 0.5s;
}
.topTooltiptext:hover  {
  visibility: visible;
  transition-delay: 0s;
}
.topTooltiptext:hover .topTooltipborder  {
  visibility: visible;
  transition-delay: 0s;
}
.topTooltiptext:hover .topBelowTooltipborder  {
  visibility: visible;
  transition-delay: 0s;
}
.topTooltiptext:hover .hoverAuthorName {
border: 1px solid #ffffff;
}








.tooltip__zIndex {
  position:relative;
  z-index:50000 !important;
}
.middleTooltip {
  padding-bottom:-8px;
  margin-bottom:-8px;
  margin-left:-51px;
  position:relative;
}

.middleTooltip .middleTooltiptext {
  visibility: hidden;
  background-color: #fff;
  color:#000000;
  margin-left:-63px;
  border-radius: 6px;
  padding: 5px 0;
  position: fixed;
    z-index:50000 !important;
  top:3.3%;
border: 1px solid #dcdcdc;
  transition-delay: 0.8s;
  z-index:5;

 -webkit-box-shadow: 0px 2px 1px -1px #d2d2d2;
 -moz-box-shadow:    0px 2px 1px -1px #d2d2d2;
 box-shadow:         0px 2px 1px -1px #d2d2d2;
}
.middleTooltip .middleTooltiptext::after {
  @media screen and (min-width: 905px) {
  content: "";
  z-index:50000 !important;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}
}
.middleBelowTooltipborder {
  visibility:hidden;
  content: "";
  position: fixed;
    z-index:50005 !important;
  top:0.5%;  /* 64.8% */
  margin-left:-35px;
  margin-top:2px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:6;
}
.middleTooltipborder {
  visibility:hidden;
  content: "";
  position: fixed;
    z-index:49005 !important;
  top:0.5%;   /* 64.8% */
  margin-left:-37px;
  border-width: 10px;
  margin-top:-1px;
  border-style: solid;
  border-color: transparent transparent #dcdcdc transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:4;
}

.middleTooltip:hover .middleTooltipborder {
@media screen and (min-width: 905px) {
visibility: visible;
  transition-delay: 0.5s;
}
}
.middleTooltip:hover .middleBelowTooltipborder {
@media screen and (min-width: 905px) {
visibility: visible;
transition-delay: 0.5s;
}
}
.middleTooltip:hover .middleTooltiptext {
@media screen and (min-width: 905px) {
  visibility: visible;
  transition-delay: 0.5s;
}
}
.middleTooltiptext:hover  {
@media screen and (min-width: 905px) {
  visibility: visible;
  transition-delay: 0s;
}
}
.middleTooltiptext:hover .middleTooltipborder  {
@media screen and (min-width: 905px) {
  visibility: visible;
  transition-delay: 0s;
}
}
.middleTooltiptext:hover .middleBelowTooltipborder  {
@media screen and (min-width: 905px) {
  visibility: visible;
  transition-delay: 0s;
}
}
.middleTooltiptext:hover .hoverAuthorName {
@media screen and (min-width: 905px) {
border: 1px solid #ffffff;
}
}




.middleTooltipHomeLeft {
  padding-bottom:-8px;
  margin-bottom:-8px;
  margin-left:-51px;
}

.middleTooltipHomeLeft .middleTooltiptextHomeLeft {
  visibility: hidden;
  background-color: #fff;
  z-index:50000;
  color:#000000;
  margin-left:-7px;
  border-radius: 6px;
  padding: 5px 0;
  position: fixed;
  z-index:50000 !important;
  top:3.3%;
border: 1px solid #dcdcdc;
  transition-delay: 0.8s;

 -webkit-box-shadow: 0px 2px 1px -1px #d2d2d2;
 -moz-box-shadow:    0px 2px 1px -1px #d2d2d2;
 box-shadow:         0px 2px 1px -1px #d2d2d2;
}
.middleTooltipHomeLeft .middleTooltiptextHomeLeft::after {
  @media screen and (min-width: 905px) {
  content: "";
  z-index:50000 !important;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  z-index:5;
}
}
.middleBelowTooltipborderHomeLeft {
  visibility:hidden;
  content: "";
  position: fixed;
  z-index:50005 !important;
  top:0.5%;  /* 64.8% */
  margin-left:15px;
  margin-top:2px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  transition-delay: 0.8s; /* 0.55 */
}
.middleTooltipborderHomeLeft {
  visibility:hidden;
  content: "";
  position: fixed;
  z-index:49005 !important;
top:0.5%;   /* 64.8% */
  margin-left:13px;
  border-width: 10px;
  margin-top:-1px;
  border-style: solid;
  border-color: transparent transparent #dcdcdc transparent;
  transition-delay: 0.8s; /* 0.55 */
}

.middleTooltipHomeLeft:hover .middleTooltipborderHomeLeft {
@media screen and (min-width: 905px) {
visibility: visible;
  transition-delay: 0.5s;
}
}
.middleTooltipHomeLeft:hover .middleBelowTooltipborderHomeLeft {
@media screen and (min-width: 905px) {
visibility: visible;
  transition-delay: 0.5s;
}
}
.middleTooltipHomeLeft:hover .middleTooltiptextHomeLeft {
@media screen and (min-width: 905px) {
  visibility: visible;
  transition-delay: 0.5s;
}
}
.middleTooltiptextHomeLeft:hover  {
@media screen and (min-width: 905px) {
  visibility: visible;
  transition-delay: 0s;
}
}
.middleTooltiptext:hover .middleTooltipborder  {
@media screen and (min-width: 905px) {
  visibility: visible;
  transition-delay: 0s;
}
}
.middleTooltiptextHomeLeft:hover .middleBelowTooltipborderHomeLeft  {
@media screen and (min-width: 905px) {
  visibility: visible;
  transition-delay: 0s;
}
}
.middleTooltiptextHomeLeft:hover .hoverAuthorName {
@media screen and (min-width: 905px) {
border: 1px solid #ffffff;
}
}










.bottomTooltip {
  padding-bottom:-8px;
  margin-bottom:-8px;
  margin-left:-51px;
}

.bottomTooltip .bottomTooltiptext {
  visibility: hidden;
  background-color: #fff;
  color:#000000;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  margin-top:-12px;
  margin-left:-63px;
border: 1px solid #dcdcdc;
  transition-delay: 0.8s;
  z-index:5;

 -webkit-box-shadow: 0px 2px 1px -1px #d2d2d2;
 -moz-box-shadow:    0px 2px 1px -1px #d2d2d2;
 box-shadow:         0px 2px 1px -1px #d2d2d2;
}
.bottomTooltip .bottomTooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  z-index:5;

}
.bottomBelowTooltipborder {
  visibility:hidden;
  content: "";
  position: absolute;
  margin-top:-27px;
  margin-left:48px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:6;
}
.bottomTooltipborder {
  visibility:hidden;
  content: "";
  position: absolute;
  margin-top:-30px;
  margin-left:46px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #dcdcdc transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:4;
}

.bottomTooltip:hover .bottomTooltipborder {
visibility: visible;
  transition-delay: 0.5s;
}
.bottomTooltip:hover .bottomBelowTooltipborder {
visibility: visible;
  transition-delay: 0.5s;
}
.bottomTooltip:hover .bottomTooltiptext {
  visibility: visible;
  transition-delay: 0.5s;
}
.bottomTooltiptext:hover  {
  visibility: visible;
  transition-delay: 0s;
}
.bottomTooltiptext:hover .bottomTooltipborder  {
  visibility: visible;
  transition-delay: 0s;
}
.bottomTooltiptext:hover .bottomBelowTooltipborder  {
  visibility: visible;
  transition-delay: 0s;
}
.bottomTooltiptext:hover .hoverAuthorName {
border: 1px solid #ffffff;
}


/* Search CLICK: */

.tooltipClickSearch {
  margin-left:-51px;
  padding-bottom:-8px;
  margin-bottom:-8px;
}

.tooltipClickSearch .tooltiptextClickSearch {
  background-color: #ffffff;
  color:#000000;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  margin-top:30px;                    /* margin-top: -399.5px; /* 104px */ /* 241.5 (very very v v recent) */
  // margin-left:;
border: 1px solid #dcdcdc;
  transition-delay: 0.8s; /* 0.55 */
  z-index:5;

 -webkit-box-shadow: 0px 2px 1px -1px #d2d2d2;
 -moz-box-shadow:    0px 2px 1px -1px #d2d2d2;
 box-shadow:         0px 2px 1px -1px #d2d2d2;

 @media screen and (min-width: 695px) {
     margin-left:0px;
 }
 @media screen and (max-width: 695px) and (min-width: 532px) {
     margin-left:-23px;
 }
 @media screen and (max-width: 532px) and (min-width: 500px) {
     margin-left:1px;
 }
 @media screen and (max-width: 500px) and (min-width: 450px) {
     margin-left:1px;
     width:351px;
 }
 @media screen and (max-width: 450px) {
     margin-left:1px;
     width:351px;
 }
 @media screen and (max-width: 405px) {
     margin-left:1px;
     width:271px;
 }
}
.tooltipClickSearch .tooltiptextClickSearch::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  z-index:5;

}
.belowTooltipborderClickSearch {
  content: "";
  visibility:visible;
  position: absolute;
  margin-top:11px;   /* 64.8% */
  // margin-left:;
  border-width:10px;
  border-style: solid;
  border-color: transparent transparent  #fff transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:6;

  @media screen and (min-width: 695px) {
      margin-left:34px;
  }
  @media screen and (max-width: 695px) {
      margin-left:22px;
  }
}
.tooltipborderClickSearch {
  content: "";
  position: absolute;
  visibility:visible;
  margin-top:8px;   /* 64.8% */
  margin-left:32px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent #dcdcdc transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:4;

  @media screen and (min-width: 695px) {
      margin-left:32px;
  }
  @media screen and (max-width: 695px) {
      margin-left:20px;
  }
}


/* Search Faq Main: */

.tooltipClickFAQMain {
  margin-left:-51px;
  padding-bottom:-8px;
  margin-bottom:-8px;
}

.tooltipClickFAQMain .tooltiptextClickFAQMain {
  background-color: #ffffff;
  color:#000000;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  margin-top:30px;                    /* margin-top: -399.5px; /* 104px */ /* 241.5 (very very v v recent) */
  // margin-left:;
border: 1px solid #dcdcdc;
  transition-delay: 0.8s; /* 0.55 */
  z-index:5;

 -webkit-box-shadow: 0px 2px 1px -1px #d2d2d2;
 -moz-box-shadow:    0px 2px 1px -1px #d2d2d2;
 box-shadow:         0px 2px 1px -1px #d2d2d2;

 @media screen and (min-width: 695px) {
     margin-left:0px;
 }
 @media screen and (max-width: 695px) and (min-width: 530px) {
     margin-left:-23px;
 }
 @media screen and (max-width: 530px) and (min-width: 500px) {
     margin-left:0px;
 }
 @media screen and (max-width: 500px) and (min-width: 450px) {
     margin-left:0px;
     width:369px;
 }
 @media screen and (max-width: 450px) {
     margin-left:0px;
     width:369px;
 }
 @media screen and (max-width: 405px) {
     margin-left:0px;
     width:232px;
 }

}
.tooltipClickFAQMain .tooltiptextClickFAQMain::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  z-index:5;

}
.belowTooltipborderClickFAQMain {
  content: "";
  visibility:visible;
  position: absolute;
  margin-top:11px;   /* 64.8% */
  // margin-left:;
  border-width:10px;
  border-style: solid;
  border-color: transparent transparent  #fff transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:6;

  @media screen and (min-width: 695px) {
      margin-left:34px;
  }
  @media screen and (max-width: 695px) {
      margin-left:22px;
  }
}
.tooltipborderClickFAQMain {
  content: "";
  position: absolute;
  visibility:visible;
  margin-top:8px;   /* 64.8% */
  margin-left:32px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent #dcdcdc transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:4;

  @media screen and (min-width: 695px) {
      margin-left:32px;
  }
  @media screen and (max-width: 695px) {
      margin-left:20px;
  }
}


/* Question Circle: */

.tooltipClickQuestionCircle {
  margin-left:-51px;
  padding-bottom:-8px;
  margin-bottom:-8px;
}

.tooltipClickQuestionCircle .tooltiptextClickQuestionCircle {
  background-color: #ffffff;
  margin-left:-33px;
  color:#000000;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  margin-top:24px;                    /* margin-top: -399.5px; /* 104px */ /* 241.5 (very very v v recent) */
  // margin-left:;
border: 1px solid #dcdcdc;
  transition-delay: 0.8s; /* 0.55 */
  z-index:5;

 -webkit-box-shadow: 0px 2px 1px -1px #d2d2d2;
 -moz-box-shadow:    0px 2px 1px -1px #d2d2d2;
 box-shadow:         0px 2px 1px -1px #d2d2d2;

 @media screen and (max-width: 870px) {
  margin-left:-73px;
 }
 @media screen and (max-width: 735px) {
   margin-left:-150px;
 }
 @media screen and (max-width: 650px) {
   margin-left:-250px;
 }



}
.tooltipClickQuestionCircle .tooltiptextClickQuestionCircle::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  z-index:5;

}
.belowTooltipborderClickQuestionCircle {
  content: "";
  visibility:visible;
  position: absolute;
  margin-top:6px;   /* 64.8% */
  // margin-left:;
  border-width:10px;
  margin-left:-1px;
  border-style: solid;
  border-color: transparent transparent  #fff transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:6;
}
.tooltipborderClickQuestionCircle {
  content: "";
  position: absolute;
  visibility:visible;
  margin-top:3px;   /* 64.8% */
  margin-left:-3px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent #dcdcdc transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:4;
}


/* CLICK: */

.tooltipClick {
  margin-left:-51px;
  padding-bottom:-8px;
  margin-bottom:-8px;
}

.tooltipClick .tooltiptextClick {
  background-color: #ffffff;
  margin-left:-50px;
  color:#000000;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  margin-top:40px;                    /* margin-top: -399.5px; /* 104px */ /* 241.5 (very very v v recent) */
  // margin-left:;
border: 1px solid #dcdcdc;
  transition-delay: 0.8s; /* 0.55 */
  z-index:5;

 -webkit-box-shadow: 0px 2px 1px -1px #d2d2d2;
 -moz-box-shadow:    0px 2px 1px -1px #d2d2d2;
 box-shadow:         0px 2px 1px -1px #d2d2d2;
}
.tooltipClick .tooltiptextClick::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  z-index:5;

}
.belowTooltipborderClick {
  content: "";
  visibility:visible;
  position: absolute;
  margin-top:22px;   /* 64.8% */
  // margin-left:;
  border-width:10px;
  margin-left:-26px;
  border-style: solid;
  border-color: transparent transparent  #fff transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:6;
}
.tooltipborderClick {
  content: "";
  position: absolute;
  visibility:visible;
  margin-top:19px;   /* 64.8% */
  margin-left:-28px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent #dcdcdc transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:4;
}
.authorTooltip__toolTipAuthorImage {
border-radius:50px;
margin-left:215px;
margin-top:-26px;
float:left;
cursor:pointer;
position:absolute;
width:46px;
height:46px;
}
.authorTooltip__hoverOverToolTipMainAuthor:hover {
  color:#48b37c;
  transition:0.2s;
}
.authorTooltip__hoverOverToolTipMainAuthor {
cursor:pointer;
transition:0.2s;
}
.authorTooltip__titleAuthorHovContainer1 {
  margin-left:17px;
  margin-top:17px;
  font-size:16.05px;
  letter-spacing:0.035em;
  font-weight:750;
  height:19px;
  display:block;
  color:#000;
  // position:relative;
  // z-index:-1;
}
.authorTooltip__toolTipAboutTheAuthor {
  margin-top:7.5px;
  margin-left:18px;
  margin-right:30.5%;
  font-size:11.7px;
  color:#878787;
  font-weight:300;
  margin-bottom:8px;
  line-height:1.6;
  letter-spacing:0.035em;
  word-spacing:0.006em;
  display:block;
  width:190px;

  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.authorTooltip__toolTipPopularStories {
  float:left;
font-weight:450; /* 300 (recent) */
cursor:pointer;
margin-left:17px;
color:#a0a0a0;
letter-spacing:0.003em;
font-size:14.7px;
font-weight:500;
}
// .authorTooltip__toolTipPopularStories:hover {
// color:#15a05c;
// }
.authorTooltip__toolTipPopularStoriesN {
float:left;
font-size:12.1px;
margin-top:1px;
font-weight:500;
}
.authorTooltip__toolTipPopularStory {
  font-size:13.2px;
  letter-spacing:0.02em;
  word-spacing:0.06em;
  margin-left:16px;
  font-weight:600;
  display:block;
  transition:0.2s;
  width:230px;
  cursor:pointer;
}
.authorTooltip__toolTipPopularStory:hover {
  color:#15a05c;
  transition:0.2s;
}
.toolTipHigherHr {
height:1px;
margin-left:15px;
margin-right:15px;
background-color:#e1e1e1;
color:#e1e1e1;
margin-top:15px;
width:250px;
border:none;
margin-bottom:11px;
}
.toolTipLowerHr {
height:1px;
margin-left:15px;
margin-right:15px;
background-color:#e1e1e1;
color:#e1e1e1;
width:250px;
border:none;
margin-bottom:9px;
margin-top:-20px;
}
.toolTipAboveLowerHrSpacing {
margin-bottom:8px;
height:10px;
}
.authorProfileButton {
  margin-top:1px;
  float:right;
  font-size:0.8em;
  margin-right:13px;
  margin-bottom:6px;
  height:28px; /* 25px */
  width:73px;
  border: 1.25px solid #15a05c;		/*#1e8971; */
  border-radius:5px;
  font-weight:400;
  text-align:center;
  letter-spacing:0.045em; /* 0.035em */
  cursor:pointer;
  transition:0.2s;
}
.authorProfileButton:hover {
transition:0.2s;
border: 1.25px solid #000;
}
.authorProfileButton:hover .authorTooltip__followText {
transition:0.2s;
color:#000;
}
.authorTooltip__followText {
 color:#15a05c;
 font-size:0.845em;
 display:flex;
 justify-content:center;
 margin-top:8px;
 transition:0.2s;
}
.authorTooltip__joinDate{
margin-top:12.2px;
color:#878787;
letter-spacing:-0.01em;
word-spacing:0.045em;
font-size:12.5px;
margin-left:15px;
float:left;
font-weight:400;
letter-spacing:0.045em;
display:block;
width:150px;
}
.authorTooltip__followers {
margin-top:12.2px;
color:#878787;
letter-spacing:-0.01em;
word-spacing:0.045em;
font-size:12.5px;
margin-left:15px;
float:left;
font-weight:400;
letter-spacing:0.045em;
display:block;
width:150px;
}
.authorTooltip__followersNumber {
  color:#646464;
}
.authorTooltip__noDescriptionSpacing {
  height:20px;
}
.authorTooltip__followingButtonLarge {
  margin-left:190px;
  font-size:10px;
  margin-top:4px;
  position:absolute;
  border:1px solid #15a05c;
  opacity:0.8;
  background-color:#15a05c;
  border-radius:4px;
  padding-left:13px;
  padding-right:13px;
  padding-top:7px;
  padding-bottom:7px;
  letter-spacing:0.023em;
  color:#fff;
  cursor:pointer;
}
.authorTooltip__followButtonLarge {
  margin-left:205px;
  font-size:10px;
  margin-top:4px;
  position:absolute;
  border:1px solid #15a05c;
  opacity:0.8;
  border-radius:4px;
  padding-left:13px;
  padding-right:13px;
  padding-top:7px;
  padding-bottom:7px;
  letter-spacing:0.023em;
  color:#15a05c;
  cursor:pointer;
}



/* FAQ CLICK: */

.tooltipClickFAQ {
  margin-left:-51px;
  padding-bottom:-8px;
  margin-bottom:-8px;
}

.tooltipClickFAQ .tooltiptextClickFAQ {
  background-color: #ffffff;
  color:#000000;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  margin-top:31px;                    /* margin-top: -399.5px; /* 104px */ /* 241.5 (very very v v recent) */
  // margin-left:;
border: 1px solid #dcdcdc;
  transition-delay: 0.8s; /* 0.55 */
  z-index:5;

 -webkit-box-shadow: 0px 2px 1px -1px #d2d2d2;
 -moz-box-shadow:    0px 2px 1px -1px #d2d2d2;
 box-shadow:         0px 2px 1px -1px #d2d2d2;

   -webkit-touch-callout: none;
       -webkit-user-select: none;
        -khtml-user-select: none;
          -moz-user-select: none;
           -ms-user-select: none;
               user-select: none;

 @media screen and (min-width: 865px) {
      margin-left:-20px;
      width:423px;
      height:218px;
 }
 @media screen and (max-width: 865px) and (min-width: 650px) {
   margin-left:-20px;
   width:423px;
   height:218px;
 }
 @media screen and (max-width: 650px) and (min-width: 445px) {
   margin-left:-20px;
   width:423px;
   height:218px;
 }
 @media screen and (max-width: 445px) {
   margin-left:-20px;
   width:94.5vw;
   height:218px;
 }

}
.tooltipClickFAQ .tooltiptextClickFAQ::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  z-index:5;

}
.belowTooltipborderClickFAQ {
  content: "";
  visibility:visible;
  position: absolute;
  margin-top:13px;   /* 64.8% */
  // margin-left:;
  border-width:10px;
  border-style: solid;
  border-color: transparent transparent  #fff transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:6;

  @media screen and (min-width: 865px) {
      margin-left:8px;
  }
  @media screen and (max-width: 865px) and (min-width: 650px) {
      margin-left:8px;
  }
  @media screen and (max-width: 650px) and (min-width: 490px) {
      margin-left:8px;
  }
  @media screen and (max-width: 490px) {
      margin-left:8px;
  }
}
.tooltipborderClickFAQ {
  content: "";
  position: absolute;
  visibility:visible;
  margin-top:10px;   /* 64.8% */
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent #dcdcdc transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:4;

  @media screen and (min-width: 865px) {
    margin-left:6px;
  }
  @media screen and (max-width: 865px) and (min-width: 650px) {
    margin-left:6px;
  }
  @media screen and (max-width: 650px) and (min-width: 490px) {
    margin-left:6px;
  }
  @media screen and (max-width: 490px) {
    margin-left:6px;
  }
}




/* Notifications CLICK: */

.tooltipClickNot {
  margin-left:-51px;
  padding-bottom:-8px;
  margin-bottom:-8px;
}

.tooltipClickNot .tooltiptextClickNot {
  background-color: #ffffff;
  margin-left:-388px;
  color:#000000;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  margin-top:40px;                    /* margin-top: -399.5px; /* 104px */ /* 241.5 (very very v v recent) */
  // margin-left:;
border: 1px solid #dcdcdc;
  transition-delay: 0.8s; /* 0.55 */
  z-index:5;

 -webkit-box-shadow: 0px 2px 1px -1px #d2d2d2;
 -moz-box-shadow:    0px 2px 1px -1px #d2d2d2;
 box-shadow:         0px 2px 1px -1px #d2d2d2;
}
.tooltipClickNot .tooltiptextClickNot::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  z-index:5;

}
.belowTooltipborderClickNot {
  content: "";
  visibility:visible;
  position: absolute;
  margin-top:22px;   /* 64.8% */
  // margin-left:;
  border-width:10px;
  margin-left:-26px;
  border-style: solid;
  border-color: transparent transparent  #fff transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:6;
}
.tooltipborderClickNot {
  content: "";
  position: absolute;
  visibility:visible;
  margin-top:19px;   /* 64.8% */
  margin-left:-28px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent #dcdcdc transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:4;
}




/* Profile CLICK: */

.tooltipClickPro {
  margin-left:-51px;
  padding-bottom:-8px;
  margin-bottom:-8px;
}

.tooltipClickPro .tooltiptextClickPro {
  background-color: #ffffff;
  margin-left:-205.5px;
  color:#000000;
  width:235px;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  margin-top:26px;                    /* margin-top: -399.5px; /* 104px */ /* 241.5 (very very v v recent) */
  // margin-left:;
border: 1px solid #dcdcdc;
  transition-delay: 0.8s; /* 0.55 */
  z-index:5;

 -webkit-box-shadow: 0px 2px 1px -1px #d2d2d2;
 -moz-box-shadow:    0px 2px 1px -1px #d2d2d2;
 box-shadow:         0px 2px 1px -1px #d2d2d2;
}
.tooltipClickPro .tooltiptextClickPro::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  z-index:5;

}
.belowTooltipborderClickPro {
  content: "";
  visibility:visible;
  position: absolute;
  margin-top:7px;   /* 64.8% */
  // margin-left:;
  border-width:10px;
  margin-left:-38px;
  border-style: solid;
  border-color: transparent transparent  #4ca2cd transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:6;
}
.tooltipborderClickPro {
  content: "";
  position: absolute;
  visibility:visible;
  margin-top:4px;   /* 64.8% */
  margin-left:-40px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent #dcdcdc transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:4;
}



/* Publish CLICK: */

.tooltipClickPublish {
  margin-left:-51px;
  padding-bottom:-8px;
  margin-bottom:-8px;
}

.tooltipClickPublish .tooltiptextClickPublish {
  background-color: #ffffff;
  margin-left:-240.5px;
  color:#000000;
  width:270px;
  height:60px;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  margin-top:26px;                    /* margin-top: -399.5px; /* 104px */ /* 241.5 (very very v v recent) */
  // margin-left:;
border: 1px solid #dcdcdc;
  transition-delay: 0.8s; /* 0.55 */
  z-index:5;

 -webkit-box-shadow: 0px 2px 1px -1px #d2d2d2;
 -moz-box-shadow:    0px 2px 1px -1px #d2d2d2;
 box-shadow:         0px 2px 1px -1px #d2d2d2;

 @media screen and (max-width: 751px) {
   margin-left:-225.5px;
 }
 @media screen and (max-width: 581px) {
   margin-left:-200.5px;
 }
}
.tooltipClickPublish .tooltiptextClickPublish::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  z-index:5;

}
.belowTooltipborderClickPublish {
  content: "";
  visibility:visible;
  position: absolute;
  margin-top:7px;   /* 64.8% */
  // margin-left:;
  border-width:10px;
  margin-left:-28px;
  border-style: solid;
  border-color: transparent transparent  #fff transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:6;

  @media screen and (max-width: 751px) {
    margin-left:-10px;
  }
  @media screen and (max-width: 581px) {
    margin-left:3px;
  }
}
.tooltipborderClickPublish {
  content: "";
  position: absolute;
  visibility:visible;
  margin-top:4px;   /* 64.8% */
  margin-left:-30px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent #dcdcdc transparent;
  transition-delay: 0.8s; /* 0.55 */
  z-index:4;

  @media screen and (max-width: 751px) {
    margin-left:-12px;
  }
  @media screen and (max-width: 581px) {
    margin-left:1px;
  }
}




.authorTooltip__behindCircle {
  border-radius:50%;
  width:51px;
  height:51px;
  position:absolute;
  z-index:0;
  margin-left:212px;
  margin-top:-29px;

  background-color: #378b29;
background-image: linear-gradient(315deg, #378b29 0%, #ffffff 74%);
}
